<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="TAG2_DEV_PLT1ConnectionString1" connectionString="Data Source=calsql\dev;Initial Catalog=TAG2_DEV_PLT1;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
    
		<add key="CRApColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="CRApCols" value="1,2,3"></add>
		<add key="CRApColWidths" value="150px,150px,150px"></add>
    
		<add key="CRRiColCp" value="AM0864#*#A0608#*#A0609#*#A0586"></add>
		<add key="CRRiCols" value="1,2,3,4"></add>
		<add key="CRRiColWidths" value="200px,150px,150px,250px"></add>
    
		<add key="ActColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="ActCols" value="1,2,3"></add>
		<add key="ActColWidths" value="150px,150px,150px"></add>
    
		<add key="InActColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="InActCols" value="1,2,3"></add>
		<add key="InActColWidths" value="200px,150px,150px"></add>
    
		<add key="MOApColCp" value="AM0954#*#A0185#*#A0582#*#A0586"></add>
		<add key="MOApCols" value="1,2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px,150px"></add>
    
		<add key="MORiColCp" value="AM0954#*#A0608#*#A0609#*#0586"></add>
		<add key="MORiCols" value="1,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
    
		<add key="ScApColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="ScApCols" value="1,2,3"></add>
		<add key="ScApColWidths" value="200px,150px,150px"></add>
    
		<add key="AudtColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="AudtCols" value="1,2,3"></add>
		<add key="AudtColWidths" value="200px,150px,150px"></add>
    
		<add key="ExistColCp" value="AM0864#*#A0185#*#A0582"></add>
		<add key="ExistCols" value="1,2,3"></add>
		<add key="ExistColWidths" value="200px,150px,150px"></add>
    
		<add key="ToDoNames" value="AM0863#*#AM0864#*#AM1202#*#AM1203#*#A0147#*#A0317"></add>
		<add key="ToDoCols" value="0,1,8,9,2,4"></add>
		<add key="ToDoWidths" value="100px,150px,150px,100px,150px,150px"></add>
    
		<add key="GrpToDoNames" value="AM0863#*#AM0864#*#AM1202#*#AM1203#*#A0147#*#A0542#*#A0317"></add>
		<add key="GrpToDoCols" value="0,1,8,9,2,3,4"></add>
		<add key="GrpToDoWidths" value="100px,150px,150px,150px,150px,150px,100px"></add>
    
		<add key="WrlNames" value="AM0863#*#AM0864#*#AM1202#*#AM1203#*#A0147#*#A0542#*#A0317"></add>
		<add key="WrlCols" value="0,1,8,9,2,3,5"></add>
		<add key="WrlWidths" value="100px,150px,150px, 150px,150px,150px,100px"></add>
    <add key="TimeGap"  value="2" />
	</appSettings>
</configuration>
