 
/*
body, HTML 
{
	Background-Color:#FFFFFF;	
	scrollbar-arrow-color: #f0e0c7;
	scrollbar-base-color: #000000;
	scrollbar-face-color: #bfa274;
	scrollbar-highlight-color: #e0c69c;
	scrollbar-shadow-color: #6b593d;
	scrollbar-3dlight-color: #6b593d;
	scrollbar-track-color: #ece3d6;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-background-image:url('images/strip_3.png');
}

.bg
        {
          width:999px;
          height:666px;
          background-image:url('Images/worldmap_Green.png');          
          background-repeat:no-repeat;
          background-position:center;
          padding:0px;
          margin:0px;
          border:none;          
        }
        .bg1
        {
          width:650px;
          height:317px;          
          background-image:url('Images/index_box_Green.png');          
          background-repeat:no-repeat;
          background-position:center;                    
          border:none;
          margin-left:auto;
          margin-right:auto;
          margin-top:130px;          
        }
        .bg2
        {
          width:650px;
          height:317px;          
          background-image:url('Images/logo_box_Green.png');          
          background-repeat:no-repeat;
          background-position:center;                    
          border:none;
          margin-left:auto;
          margin-right:auto;
          margin-top:130px;          
        }
        
        .login
        {
			width:80px;
          height:30px;          
          background-image:url('Images/Login_Button_Green2.png');          
          background-repeat:no-repeat;
          background-position:center;                    
          border:none;
          background-position:center;             
			
			}
             */  

a{ text-decoration:none;border:0px;}
.time{behavior: url(#default#time2);}

/*TABLE Styles*/
/*.MainTable{Background-color:#3A4AAE;Border-style:outset;border-width:2px;border-top:none;border-left:none;Padding:10px;width:90%}*/
.MainTable{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f2f8f2', endColorstr='#f2f8f2'/*'#e4ebf8''#eaf8eb', gradientType='0');*/
Border-style:solid; border-color:#7eac75; border-width:3px;Padding:10px;width:98%;
background-image:url('images/table_bg.png');
}

.MainTablePlantSel{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#98d2e9', endColorstr='#98d2e9'/*'#e4ebf8''#eaf8eb'*/, gradientType='0');
Border-style:solid; border-color:#7eac75; border-width:2px;Padding:10px;width:90%;  
}

.SubTable{Background-color:#51663a; BORDER-RIGHT: 2px groove; BORDER-TOP: 2px groove; BORDER-LEFT: 2px groove; BORDER-BOTTOM: 2px groove}


/*Header Caption Styles*/
/*.MainHead{Color:#676172;Height:20px;Font-weight:bold;font-family:Verdana,Arial;font-size:12pt;Padding-bottom:5px;background-image: url(images/panel_main_head_g.png);}*/
.MainHead2{Color:#676172;Height:25px;Font-weight:bold;font-family:Verdana,Arial;font-size:12pt;background-image: url(images/strip_top_g.png);}
.BodyHead{Color:DarkRed;Height:25px;Font-weight:bold;font-family:Microsoft Sans Serif,Arial;font-size:10pt;Padding-bottom:5px; }

.SubHead
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#dae7bb', endColorstr='#bdd58d', gradientType='1');*/
Height:20px;
	Font-weight:bold;
	/*font-family:Times New Roman Greek,Raavi;*/
	font-size:12pt;
	Color:#000;

font-family:Verdana,Microsoft Sans Serif,Arial;
font-weight: bold;font-size:9.5pt;Padding-Left:5px;
 padding-right:5px;
 background-image: url(images/subheadbg.png);
}

.ListSubHead{Background-color:#FFFFFF;Height:20px;Color:#000000;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:5px; padding-right:5px;}
TestReg{Background-color:#8495CD;Height:20px;Color:#FFFFFF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:5px; padding-right:5px; }
 

/*Radiobutton List Styles*/
.RBList{Border-Style:groove;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Border-Width:2px;text-justify:newspaper;}
.ResultCls{Background-Color:#9EAFC4;Border-Style:groove;Border-Width:2px;}
.RadioCls{Border-Style:groove;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Border-Width:2px;text-justify:newspaper;}

/*TD Styles*/
.MainTD
{
 	color :Black; font-weight:600; Background-Color:#FFFFFF;font-family:Verdana,Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
}
.WsFieldTd1{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }
.WsFieldTd2{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }
.WsFieldTd3{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }

.WsFieldHeadTd1{Background-Color:#BFBFBF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.WsFieldHeadTd2{Background-Color:#BFBFBF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.WsFieldHeadTd3{Background-Color:#BFBFBF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

.MainTD2
{
	padding-left: 2px;
	font-size: 9pt;
	font-family: Microsoft Sans Serif,Arial;
	background-color: #98d2e9;color :Black;
}
.MainTD3{Background-Color:#F3F1D4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.MainTD4{Background-Color:#ffffff; color:#000000; font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.MainTD5{Background-Color:Transparent; color:#3d4e2f; font-family:Arial, Helvetica, sans-serif;font-size:9pt; font-weight:bold; Padding-Left:2px;}
.TestName{Background-Color:#C0C0FF; color:Black; font-family:Arial;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }

/*.HeadTD{Background-Color:#C3C1B4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}*/
.HeadTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#98d2e9', endColorstr='#FFFFFF', gradientType='0');
font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px; color:#637452; font-weight:600;
}
.GPModHeadTD
{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#98d2e9', endColorstr='#FFFFFF', gradientType='1');
	font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px; color:#637452; font-weight:600;
}
/*.SubHeadTD{Background-Color:#C8CFED;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}*/
.SubHeadTD
{
color :Black;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;Background-Color:#98d2e9;
}
.WrkSubHeadTD
{
color :Black;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;Background-Color:#cccbb2;
}


.SubHeadTDPlant
{
background-image: url(images/panel_main_head_g.png);font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px; font-weight:bold; 
}
/*
.SubHeadTD
{
Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;
}
*/
.ObservTD{Background-Color:#BFBFBF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.SpObservTD{Background-Color:#BFBFBF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.LimitTD{Background-Color:#C3C1B4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

/*.RevisionTD{Background-Color:#7D8BC9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:white;}*/
.RevisionTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f3e29d', endColorstr='#fcf3cf', gradientType='0');
font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:#021460;font-weight: bold;
}
.ParticularsTD{Background-Color:#cbb697;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.AuditHeadTD{Background-Color:#98d2e9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

/*.IAHeadTD{Background-Color:#7D8BC9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:white;}*/
.IAHeadTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#dac3a1', endColorstr='#ebdecb', gradientType='0');
font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:#021460;font-weight: bold;
}
.TestListHeadTD{Background-Color:#b5e5a8;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
 
/*.ActAppTD{Background-Color:#FFFFFF; font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;}*/
.ActAppTD
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1aa9b', endColorstr=#eae9e8);
height:28px; border: solid 1px #549b06; font-family:Verdana;font-size:9pt;Padding-Top:2px;Padding-Bottom:2px;color:#2c5103;font-weight: bold;text-align:center;
}
/*.InActAppTD{Background-Color:#A4AEC9; background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;}*/
.InActAppTD
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae9e8', endColorstr='#b1aa9b');
Border-style:outset; border: solid 1px #549b06; cursor:pointer; height:28px;font-family:Verdana;font-size:9pt;Padding-Top:2px;Padding-Bottom:2px;color:white; text-align:center;
/*background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;color:white;*/
}
/*.InActAppTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#A4AEC9', endColorstr='#ffffff', gradientType='0');
background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;color:black;
}
*/

/*Footer TD styles*/
.ApproveTD{font-size:9pt;Padding-Left:2px;Background-color:#008000;}
.ReCheckTD{font-size:9pt;Padding-Left:2px;Background-color:#ff9900;}
.ReTestTD{font-size:9pt;Padding-Left:2px;Background-color:#ff0000;}
.ForwInvTD{font-size:9pt;Padding-Left:2px;Background-color:#ff9900;}


/*Footer TD styles*/
.MainFoot
{
	font-size: 10pt;	
	font-family: Microsoft Sans Serif,Arial;
	height: 20px;
	/*background-color: #dae7bb;*/
	background-image: url(images/footer_bg.png);
}
.MainFoot2
{
	font-size: 10pt;	
	font-family: Microsoft Sans Serif,Arial;
	height: 30px;
	/*background-color: #dae7bb;*/
	background-image: url(images/strip_bot_g.png);
}
.FootNote
{
	font-size: 9pt;
	color:#a80909;
	font-family: Microsoft Sans Serif,Arial;
}
.TxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}

.UCTxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt; background-color:lightyellow}

.ROTxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Background-Color:#C3C1B4;}

SELECT{font-family:Microsoft Sans Serif,Verdana;font-size:8pt;}
.FontCls{font-family:Microsoft Sans Serif,Arial;font-size:9pt;}

/* Button Class Sheet */
/*.ButCls{Background-color:#7486d4;Color:'#ffffff';Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}*/
.ButOCls
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_o.png);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:70px; height:22px;background-repeat:no-repeat; text-align:center;
}
.ButCls
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g.png); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:70px; height:22px; text-align:center;
}

.ButBigOCls
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/new_user_o.png); background-repeat:repeat-x;
color :#000;Font-weight:normal;cursor:hand;width:160px; height:50px; text-align:center;FONT-SIZE:8pt;FONT-FAMILY:Tahoma,Arial; TEXT-DECORATION: none;border:none;}
.ButBigCls
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/new_user_n.png); background-repeat:repeat-x;
color :#000;Font-weight:normal;cursor:hand;width:160px; height:50px; text-align:center;FONT-SIZE:8pt;FONT-FAMILY:Tahoma,Arial;TEXT-DECORATION: none;border:none;
}

/*.ButOCls{Background-color:#3A4AAE;Color:white;Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}*/

.ButSelOCls, .ButExOCls ,a.ButOCls
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_180_o.png);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:180px; height:22px;background-repeat:no-repeat;padding-top:2px; text-align:center;
	}
	.ButSelCls, .ButExCls ,a.ButCls
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_180.png); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:180px; height:22px;padding-top:2px; text-align:center;

	}
	
.ButOCls_80
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_80_o.png);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:80px; height:22px;background-repeat:no-repeat;  text-align:center;
	}
	.ButCls_80
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_80.png); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:80px; height:22px; text-align:center;

	}
	
	

.ButStatusOCls
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_130_o.png);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:80px; height:22px;background-repeat:no-repeat;  text-align:center;
	}
.ButStatusCls
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_130.png); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:80px; height:22px; text-align:center;

	}
	
	
	
INPUT.down { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 50%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/down.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 16px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 1px }
INPUT.up { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 50%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/up.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 16px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 1px }

.HideRow{display:none; height:0px;}
.ShowRow{display:block;}

.Hlink{color:Blue;cursor:hand}
.RsnPUP{BACKGROUND-POSITION: right 40%; BORDER-WIDTH:1px; BACKGROUND-IMAGE: url(Images/Popup.jpg);WIDTH:25px;HEIGHT:22px;background-repeat:no-repeat;Background-Color:white;Border-Top-Color:#999999;Border-Left-Color:#999999;Border-Right-width:1px;Border-Bottom-width:1px;}
.GoLink{BACKGROUND-POSITION: right 40%; BORDER-WIDTH:1px; BACKGROUND-IMAGE: url(Images/f-next.gif);WIDTH:25px;HEIGHT:22px;background-repeat:no-repeat;Background-Color:white;Border-Top-Color:#999999;Border-Left-Color:#999999;Border-Right-width:1px;Border-Bottom-width:1px;}

 .hide { DISPLAY: none; BACKGROUND-COLOR: #cccccc }
 .show { DISPLAY: block; BACKGROUND-COLOR: #cccccc }
.down { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/plus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
.up { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/minus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
.chkCls { BORDER-RIGHT: 2px groove; BORDER-TOP: 2px groove; BORDER-LEFT: 2px groove; WIDTH: 18px; BORDER-BOTTOM: 2px groove; HEIGHT: 18px; BACKGROUND-COLOR: orange }
.MainTDOver { PADDING-LEFT: 2px; FONT-SIZE: 9pt; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffdab9 }
LABEL.lblSubMenu { BORDER-RIGHT: #999999; BORDER-TOP: #999999; BORDER-LEFT: #999999; WIDTH: 90%; BORDER-BOTTOM: #999999 1px solid }


 /*-------------Nichelon 5 Calander Styles------------------------*/

div.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	background-color: #DBDFE3;
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:auto;
	z-index:1;
	cursor: hand;
	visibility: hidden;
	border: 1px solid #000000;
}
table.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000033;
	text-decoration: blink;
	border: none;
	width:100%;
}
td.day {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #000033;
	width: 14%;
	text-align: center;
}
td.day_out {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #333333;
	width: 14%;
	text-align: center;
	color: gray;
	background-color: #E8EDE7;
}
td.day_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #333333;
	width: 14%;
	text-align: center;
	color: white;
	background-color: black;
}
td.wd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #000033;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	font-variant: small-caps;
	text-align: center;
	width: 14%;
}
td.closew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #000033;
	font-weight: bold;
	color: #FFFFFF;
	background-color: black;
	font-variant: small-caps;
	text-align: center;
	width: 14%;
}



/*--------------------end of Nichelon 5 Calander styles---------------*/

.anchorTxt
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: 'verdana';
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline;
    BORDER-BOTTOM-STYLE: none
}

/*For Communication Module-------------------------*/
.AlertBlink
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 8pt;
	background-image: url(IMAGES/alert_anim.gif);
	padding-bottom: 2px;
	padding-top: 2px;
	background-repeat: no-repeat;
	font-family: Verdana;
	background-color: #ffffff;
}
.AlertNormal
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 8pt;
	background-image: url(IMAGES/alert_static.gif);
	padding-bottom: 2px;
	padding-top: 2px;
	background-repeat: no-repeat;
	font-family: Verdana;
	background-color: #ffffff;
}
.ReportBlink
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/report_alert_anim.gif);
	background-repeat: no-repeat;
}
.ReportNormal
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/report_alert_static.gif);
	background-repeat: no-repeat;
}
.ActionBlink
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/action_alert_anim.gif);
	background-repeat: no-repeat;
}
.ActionNormal
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/action_alert_static.gif);
	background-repeat: no-repeat;
}

.whide { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/up.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }

.wshow { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/down.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
.backH{background-image: url(IMAGES/back_button_v_o.png);}
.backN{background-image: url(IMAGES/back_button_v_n.png);}


.hide { DISPLAY: none; BACKGROUND-COLOR: #98d2e9; }
	.show { DISPLAY: block; BACKGROUND-COLOR: #98d2e9 }
	.down { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/Plus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
	.up { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/minus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
	.MainTDOver { PADDING-LEFT: 2px; FONT-SIZE: 9pt; FONT-FAMILY: Arial; BACKGROUND-COLOR: #e5f3dd }
	
	
	.ARSCls { BORDER-RIGHT: 1px outset; PADDING-RIGHT: 5px; BORDER-TOP: 1px outset; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT: 1px outset; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; FONT-FAMILY: verdana; TEXT-DECORATION: none }
	.ARSOCls { BORDER-RIGHT: 1px outset; PADDING-RIGHT: 5px; BORDER-TOP: 1px outset; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BORDER-LEFT: 1px outset; COLOR: blue; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; FONT-FAMILY: verdana; TEXT-DECORATION: underline }
	
.PagerTD
{
		font-family:Verdana;font-size:9pt; background-color:#daeec7;
}


.ACss1{Height:100%;Padding:2px;Padding-Left:5px;Padding-Right:5px;Text-align:center;Text-Decoration:none;Border-Width:1px;Background-image:url(../IMAGES/bg_menu2.gif);Color:#3e4b30;}
.ACss2{Height:100%;Padding:2px;Padding-Left:5px;Padding-Right:5px;Text-align:center;Text-Decoration:none;Border-Width:1px;Background-image:url(../IMAGES/bg_menu3.gif);Color:#000000;}


.MainHead
{
	/*Color:#676172;*/
	Height:20px;
	Font-weight:bold;
	font-family:Times New Roman Greek,Raavi;
	font-size:14pt;
	Padding-bottom:5px;
	color :#000;
	background-image: url(images/panel_main_head_g.png);
	}
.PrintDisTD{Background-Color:#E6E6FA;color :Black;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.UserTD{Background-Color:#FFFFFF;color :Blue;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.QtyTD
{
	color :Blue;font-weight: bold;Background-Color:#FFFFFF;font-family:Verdana,Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
}
.ContHead
{
/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#dae7bb', endColorstr='#bdd58d', gradientType='1');*/
 Color:#676172;
	Font-weight:bold;
	/*font-family:Times New Roman Greek,Raavi;*/
	font-size:9pt;
	color:Black; 

font-family:Verdana,Microsoft Sans Serif,Arial;
font-weight: bold;font-size:9pt;Padding-Left:2px;
 padding-right:2px;
 background-image: url(images/panel_main_head_g.png);
}
.ButOCls_90
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/bg_g_90_o.PNG);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:100px; height:22px;background-repeat:no-repeat;padding-top:2px; text-align:center;
	}
	.ButCls_90
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/bg_g_90_o.PNG); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:100px; height:22px;padding-top:2px; text-align:center;

	}/*.RevisionTD{Background-Color:#7D8BC9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:white;}*/
.AcceptTD
{
        font-size:9px;       
        color :Black;
         font-weight:"bold";
        background-color:ActiveBorder;
       /*background-image: url(../IMAGES/strip_3.png);*/
        height:15px;
}


.ButExCls1
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#a4c085', endColorstr='#ffffff', gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_200.png); background-repeat:no-repeat;
color :Black;Border-style:outset;border-width:0px; Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt; width:190px; height:22px;padding-top:2px; text-align:center;

}

.ButExOCls1 
{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#90a973'/*'#bfcce2''#a4c085'*//*, gradientType='0');*/BACKGROUND-IMAGE: url(Images/button_bg_g_200_o.png);
color :Black;Border-style:solid;border-width:0px; outline:none;  Font-weight:bold;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;width:190px; height:22px;background-repeat:no-repeat;padding-top:2px; text-align:center;
	}