BODY{Background-Color:#FFFFFF;}
a{ text-decoration:none;}
/*TABLE Styles*/
/*.MainTable{Background-color:#3A4AAE;Border-style:outset;border-width:2px;border-top:none;border-left:none;Padding:10px;width:90%}*/
.MainTable{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3A4AAE', endColorstr='#3A4AAE', gradientType='0');
Border-style:outset;border-width:2px;border-top:none;border-left:none;Padding:2px;width:90%;
}
.SubTable{Background-color:#A7ACBE;}


/*Header Caption Styles*/
.MainHead{Color:#ffffff;Height:20px;Font-weight:bold;font-family:Verdana,Arial;font-size:12pt;Padding-bottom:5px;}
.BodyHead{Color:DarkRed;Height:25px;Font-weight:bold;font-family:Microsoft Sans Serif,Arial;font-size:10pt;Padding-bottom:5px;}

.SubHead
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#6478CC', endColorstr='#CED7FF', gradientType='1');
Height:20px;Color:#ffffff;font-family:Verdana,Microsoft Sans Serif,Arial;font-weight: bold;font-size:9.5pt;Padding-Left:5px; padding-right:5px;
}

.ListSubHead{Background-color:#FFFFFF;Height:20px;Color:#000000;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:5px; padding-right:5px;}
TestReg{Background-color:#8495CD;Height:20px;Color:#FFFFFF;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:5px; padding-right:5px; }
 

/*Radiobutton List Styles*/
.RBList{Border-Style:groove;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Border-Width:2px;text-justify:newspaper;}
.ResultCls{Background-Color:#9EAFC4;Border-Style:groove;Border-Width:2px;}
.RadioCls{Border-Style:groove;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Border-Width:2px;text-justify:newspaper;}

/*TD Styles*/
.MainTD
{
Background-Color:#FFFFFF;font-family:Verdana,Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
}
.WsFieldTd1{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }
.WsFieldTd2{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }
.WsFieldTd3{Background-Color:#FFFFFF;font-family:Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }

.WsFieldHeadTd1{Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.WsFieldHeadTd2{Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.WsFieldHeadTd3{Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

.BindTxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:7.5pt; background-color:lightyellow}

.MainTD2
{
	padding-left: 2px;
	font-size: 8.5pt;
	font-family: Verdana/*Microsoft Sans Serif,Arial*/;
	background-color: white;
	color:black;
	font-weight:600
}
.MainTD3{Background-Color:#F3F1D4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.TestName{Background-Color:#C0C0FF; color:Black; font-family:Arial;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px; }

.HeadTD{Background-Color:#C3C1B4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
/*.SubHeadTD{Background-Color:#C8CFED;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}*/
.SubHeadTD
{
Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;
}
.ObservTD{Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.SpObservTD{Background-Color:#E1E3F2;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.LimitTD{Background-Color:#C3C1B4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

/*.RevisionTD{Background-Color:#7D8BC9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:white;}*/
.RevisionTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#7A87D9', endColorstr='#C5CEF5', gradientType='0');
font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:'#021460';font-weight: bold;
}
.ParticularsTD{Background-Color:#0A51A1;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
.AuditHeadTD{Background-Color:#DADFF4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}

/*.IAHeadTD{Background-Color:#7D8BC9;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:white;}*/
.IAHeadTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#7A87D9', endColorstr='#C5CEF5', gradientType='0');
font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;color:'#021460';font-weight: bold;
}
.TestListHeadTD{Background-Color:#C3C1B4;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Padding-Left:2px;}
 
/*.ActAppTD{Background-Color:#FFFFFF; font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;}*/
.ActAppTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#6478CC', endColorstr='#ffffff', gradientType='0');
font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;color:'#021460';font-weight: bold;
}
/*.InActAppTD{Background-Color:#A4AEC9; background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;}*/
.InActAppTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#6478CC', endColorstr='#6478CC', gradientType='0');
Color:'#000000';Border-style:outset;border-width:1px;cursor:hand;
background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;color:white;
}
/*.InActAppTD
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#A4AEC9', endColorstr='#ffffff', gradientType='0');
background-image:url(images/vasu/strip_1c.gif);font-family:Verdana;font-size:9pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px;color:black;
}
*/

/*Footer TD styles*/
.ApproveTD{font-size:9pt;Padding-Left:2px;Background-color:#008000;}
.ReCheckTD{font-size:9pt;Padding-Left:2px;Background-color:#ff9900;}
.ReTestTD{font-size:9pt;Padding-Left:2px;Background-color:#ff0000;}

.MainFoot
{
	font-size: 10pt;
	color: lightcyan;
	font-family: Microsoft Sans Serif,Arial;
	height: 20px;
	background-color: #3A4AAE;
}

.TxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}

.UCTxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt; background-color:lightyellow}

.ROTxtCls{Border-Style:double;Border-Color:#336699;Border-Width:1px;font-family:Microsoft Sans Serif,Arial;font-size:9pt;Background-Color:#C3C1B4;}

SELECT{font-family:Microsoft Sans Serif,Verdana;font-size:8pt;}
.FontCls{font-family:Microsoft Sans Serif,Arial;font-size:9pt;}

/* Button Class Sheet */
/*.ButCls{Background-color:#7486d4;Color:'#ffffff';Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}*/
.ButOCls
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#EE9819', endColorstr='#FBE694', gradientType='0');
Color:'#000000';Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;
}
.ButCls
{
filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#C5CEF5', endColorstr='#7A87D9', gradientType='0');
Color:'#000000';Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;
}
/*.ButOCls{Background-color:#3A4AAE;Color:white;Font-weight:bold;Border-style:outset;border-width:1px;cursor:hand;font-family:Microsoft Sans Serif,Arial;font-size:9pt;}*/
INPUT.down { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 50%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/down.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 16px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 1px }
INPUT.up { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 50%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/up.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 16px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 1px }

.HideRow{display:none; height:0px;}
.ShowRow{display:block;}

.Hlink{color:Blue;cursor:hand}
.RsnPUP{BACKGROUND-POSITION: right 40%; BORDER-WIDTH:1px; BACKGROUND-IMAGE: url(Images/Popup.jpg);WIDTH:25px;HEIGHT:22px;background-repeat:no-repeat;Background-Color:white;Border-Top-Color:#999999;Border-Left-Color:#999999;Border-Right-width:1px;Border-Bottom-width:1px;}
.GoLink{BACKGROUND-POSITION: right 40%; BORDER-WIDTH:1px; BACKGROUND-IMAGE: url(Images/f-next.gif);WIDTH:25px;HEIGHT:22px;background-repeat:no-repeat;Background-Color:white;Border-Top-Color:#999999;Border-Left-Color:#999999;Border-Right-width:1px;Border-Bottom-width:1px;}

 .hide { DISPLAY: none; BACKGROUND-COLOR: #cccccc }
 .show { DISPLAY: block; BACKGROUND-COLOR: #cccccc }
 
 .down { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/plus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
.up { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../Images/minus.gif); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
.chkCls { BORDER-RIGHT: 2px groove; BORDER-TOP: 2px groove; BORDER-LEFT: 2px groove; WIDTH: 18px; BORDER-BOTTOM: 2px groove; HEIGHT: 18px; BACKGROUND-COLOR: orange }
.MainTDOver { PADDING-LEFT: 2px; FONT-SIZE: 9pt; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffdab9 }
LABEL.lblSubMenu { BORDER-RIGHT: #999999; BORDER-TOP: #999999; BORDER-LEFT: #999999; WIDTH: 90%; BORDER-BOTTOM: #999999 1px solid }


 /*-------------Caliber Calander Styles------------------------*/

div.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	background-color: #DBDFE3;
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:auto;
	z-index:1;
	cursor: hand;
	visibility: hidden;
	border: 1px solid #000000;
}
table.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000033;
	text-decoration: blink;
	border: none;
	width:100%;
}
td.day {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #000033;
	width: 14%;
	text-align: center;
}
td.day_out {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #333333;
	width: 14%;
	text-align: center;
	color: gray;
	background-color: #E8EDE7;
}
td.day_c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #333333;
	width: 14%;
	text-align: center;
	color: white;
	background-color: black;
}
td.wd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #000033;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006666;
	font-variant: small-caps;
	text-align: center;
	width: 14%;
}
td.closew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px none #000033;
	font-weight: bold;
	color: #FFFFFF;
	background-color: black;
	font-variant: small-caps;
	text-align: center;
	width: 14%;
}





/*--------------------end of Caliber Calander styles---------------*/

.anchorTxt
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: 'verdana';
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline;
    BORDER-BOTTOM-STYLE: none
}

.NoteTD
{
Background-Color:#FFFFFF;font-family:Verdana,Arial;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
}

/*For Communication Module-------------------------*/
.AlertBlink
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 8pt;
	background-image: url(IMAGES/alert_anim.gif);
	padding-bottom: 2px;
	padding-top: 2px;
	background-repeat: no-repeat;
	font-family: Verdana;
	background-color: #ffffff;
}
.AlertNormal
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 8pt;
	background-image: url(IMAGES/alert_static.gif);
	padding-bottom: 2px;
	padding-top: 2px;
	background-repeat: no-repeat;
	font-family: Verdana;
	background-color: #ffffff;
}
.ReportBlink
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/report_alert_anim.gif);
	background-repeat: no-repeat;
}
.ReportNormal
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/report_alert_static.gif);
	background-repeat: no-repeat;
}
.ActionBlink
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/action_alert_anim.gif);
	background-repeat: no-repeat;
}
.ActionNormal
{
	Background-Color:#FFFFFF;font-family:Verdana;font-size:8pt;Padding-Left:3px;Padding-Top:2px;Padding-Bottom:2px; padding-right:3px;
	background-image: url(IMAGES/action_alert_static.gif);
	background-repeat: no-repeat;
}

.whide { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/up.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }

.wshow { BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: center 30%; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(Images/down.jpg); BORDER-BOTTOM-WIDTH: 1px; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px }
