<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>

		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
        <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="A0185 #*# A0582 "></add>
		<add key="CRApCols" value="2,3"></add>
		<add key="CRApColWidths" value="150px,150px,100px"></add>
		<add key="CRRiColCp" value="A0608 #*# A0609#*#A0607"></add>
		<add key="CRRiCols" value="2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ActColCp" value="A0185 #*# A0582"></add>
		<add key="ActCols" value="2,3"></add>
		<add key="ActColWidths" value="150px,150px,150px"></add>
		<add key="InActColCp" value="A0185 #*# A0582"></add>
		<add key="InActCols" value="2,3"></add>
		<add key="InActColWidths" value="150px,150px,150px"></add>
		<add key="MOApColCp" value="A0185 #*# A0582"></add>
		<add key="MOApCols" value="2,3"></add>
		<add key="MOApColWidths" value="150px,150px,150px"></add>
		<add key="MORiColCp" value="A0608 #*# A0609 #*# A0607"></add>
		<add key="MORiCols" value="2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ScApColCp" value="A0185 #*# A0582"></add>
		<add key="ScApCols" value="2,3"></add>
		<add key="ScApColWidths" value="150px,150px,150px"></add>
		<add key="AudtColCp" value="A0185#*#A0582"></add>
		<add key="AudtCols" value="2,3"></add>
		<add key="AudtColWidths" value="150px,150px,150px"></add>
		<add key="ExistColCp" value="A0185#*#A0582"></add>
		<add key="ExistCols" value="2,3"></add>
		<add key="ExistColWidths" value="150px,150px,150px"></add>
		<add key="WSBndList" value="--, Instruments, Volumetric Solutions, Reference Standards, Working Standards, Columns"></add>

		<add key="ColNames" value="ENB204#*#ENB205#*#ENB166#*#A0185#*#A0187"></add>
		<add key="ColCols" value="0,1,2,3,4"></add>
		<add key="ColWidths" value="100px,140px,250px,150px,150px"></add>

		<add key="PrjColNames" value="ENB002#*#A0244#*#A0185#*#A0187"></add>
		<add key="PrjColCols" value="2,3,4,5"></add>
		<add key="PrjColWidths" value="100px,140px,100px,150px"></add>

		<add key="BATColNames" value="ENB204#*#ENB205#*#A0185#*#A0187"></add>
		<add key="BATColCols" value="2,3,4,5"></add>
		<add key="BATColWidths" value="150px,300px,150px,180px"></add>

		<add key="ExecColNames" value="ENB395#*#ENB105#*#A0185#*#A0187"></add>
		<add key="ExecColCols" value="2,3,4,5"></add>
		<add key="ExecColWidths" value="150px,300px,150px,180px"></add>

		<add key="StpAliasName"  value="WorkItemCode,WorkItemDesc,WorkType,IssueCode,Category,IsuForm,WorkFlow,BodyTemplateDesc,StartDate,TargetDate,StatusFlag"></add>
		<add key="ReportColName" value="Work Item Id,Work Description,Work Type,Issue Code,Issue Category,Issue Form,Work Flow,EForm,Start Date,Target Date,Work Dependency"></add>

    <add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0185#*#A0187#*#ETD005"></add>  <!--QMS122--> 
    <add key="WorkAllDataTypeCap" value="5#*#5#*#5#*#5#*#1#*#8#*#8#*#0#*#8#*#5"></add>
    <add key="WorkAllColu" value="LMS_ENB_FISS_UCODE#*#LMS_ENB_FISS_DESC#*#LMS_BAL_FISS_WRK_TYPE#*#LMS_ENB_HFT_ID#*#LMS_BAL_USER_GRP_ID#*#LMS_ENB_FISS_START_DATE#*#LMS_ENB_FISS_TGT_DATE#*#LMS_ENB_FISS_INIT_BY#*#LMS_ENB_FISS_INIT_ON#*#LMS_ENB_FISS_TGT_DATE"></add> <!--#*#LMS_ENB_FEXE_AUL_STATUS-->
   <add key="WorkAllFunction" value="#*##*##*##*#dbo.Fun_ReadIncharge#*#dbo.Cfn_CaliberShortDateFormat#*#dbo.Cfn_CaliberShortDateFormat#*#dbo.fnUserName#*#dbo.Cfn_CaliberDateFormat#*#dbo.Cfn_CaliberShortDateFormat"></add>
   
   <!--#*#LMS_ENB_FEXE_AUL_STATUS-->
    <add key="WorkAllCrlType" value="nvarchar(50)#*#nvarchar(1500)#*#int#*#int#*#samlldatetime#*#samlldatetime#*#nvarchar(250)#*#samlldatetime#*##*#samlldatetime"></add>
   <add key="WorkAllTab" value="LMS_ENB_FISS_AUL#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_MAST#*#LMS_ENB_FISS_AUL"></add>
   <add key="WorkSourceType" value="0#*#0#*#0#*#0#*#0#*#0#*#0#*#0#*#2#*#0"></add>
   
    <add key="MaxSelColumnVal" value="50"></add>

    <!--<add key="ExtraCol" value="LMS_BAL_ISU_LOG_IS_CLS#*#LMS_BAL_ISU_LOG_INIT_BY#*#LMS_BAL_ISU_LOG_INIT_ON#*#LMS_BAL_ISU_CLS_INIT_BY#*#LMS_BAL_ISU_CLS_INIT_ON#*#LMS_BAL_ISU_TARGET_DATE#*#LMS_BAL_EXTND_TRG_DATE"></add>
   <add key="ExtraColTab" value="LMS_BAL_ISU_LOG_AUL#*#LMS_BAL_ISU_LOG_MAST#*#LMS_BAL_ISU_LOG_MAST#*#LMS_BAL_ISU_CLS_MAST#*#LMS_BAL_ISU_CLS_MAST#*#LMS_BAL_ISU_LOG_AUL#*#LMS_BAL_ISU_ETD_MAST"></add>
   <add key="ExtraColCaption" value="Status#*#Initiated By#*#Initiated On#*#Closed By#*#Closed On#*#Target Date#*#Revised Target Date"></add>
    <add key="ExtraColDataType" value="6#*#6#*#8#*#6#*#8#*#8#*#8"></add>-->

   <add key="DDlTxt" value="Issue Login Status#*#Issue Closure Status#*#Action Plan Acceptance Status#*#Action Plan Implementation Status#*#Work Status(Non Action Plan Related)#*#Work Status(Action Plan Related)#*#Work Status(All Types)"></add>
   <add key="DDlVal" value="1#*#2#*#3#*#4#*#5#*#6#*#7"></add>

   <add key="DispText" value="Issue Login under reinitiation#*#Issue Login under Approval(I-HOD Review)#*#Issue Login under Approval(QA Review)"></add>
   <add key="ValText" value="1#*#2#*#3"></add>

   <add key="ClauseVal" value="Sum#*#Avg#*#Min#*#Max#*#Count#*#Count_Big#*#Checksum_Agg#*#Sum Distinct#*#Avg Distinct#*#Min Distinct#*#Max Distinct#*#Count Distinct#*#Count_Big Distinct#*#Checksum_Agg Distinct"></add>
   <add key="ClauseVal1" value="SUM#*#AVG#*#MIN#*#MAX#*#COUNT#*#COUNT_BIG#*#CHECKSUM_AGG#*#SUM#*#AVG#*#MIN#*#MAX#*#COUNT#*#COUNT_BIG#*#CHECKSUM_AGG"></add>

   <add key="ActionPLanColName" value="LMS_BAL_ACTION_TYPE#*#LMS_BAL_ACTION_UCODE#*#LMS_BAL_ACTION_DESC#*#LMS_BAL_ISU_CAT_ID#*#LMS_BAL_IINIT_BY#*#LMS_BAL_ACTION_TARGET_DATE#*#LMS_BAL_REVIEW_DATE#*#LMS_BAL_REV_REMARKS#*#LMS_ACT_PLAN_REV_BY#*#LMS_BAL_REVIEW_DATE#*#LMS_BAL_ACT_PLAN_CLOSED_BY#*#LMS_BAL_ACTION_SUMMARY#*#LMS_BAL_EFT_REMARS#*#LMS_ACT_CHILD_PLAN_ID_LIST#*#LMS_ACT_PLAN_EFT_REQ#*#LMS_ACT_PLAN_FRS_CLS#*#LMS_BAL_CAPA_ACT_ID"></add>
   <add key="ActionPLanTabName" value="#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_IST_MAST#*##*##*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*##*##*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#"></add>
   <add key="ActionPLanReportAliasName" value="ActonplanTypeName#*#ActionPlanCode#*#ActionplanDesc#*#IsuCatName#*#PlnInitiatedOn#*#PlnTargetdate#*#PlnRevDate#*#PlnRevRemarks#*#PlnRevOn#*#PlnRevDate#*#PlnClosedOn#*#PlnClosureComments#*#PlnMonitoringremarks#*#PlnChaildPlanList#*#PlnEffectivenessReq#*#PlnForcedClosure#*#PlnRevDate"></add>
   <add key="ActionPLanReportColCnt" value="1#*#2#*#3#*#4#*#5#*#6#*#7#*#8#*#9#*#10#*#11#*#12#*#13#*#14#*#15#*#16#*#17"></add>
   <add key="ActionPLanDataTyp" value="111#*#112#*#113#*#114#*#115#*#8#*#8#*#118#*#119#*#8#*#121#*#122#*#123#*#124#*#125#*#126#*#127"></add>

   <add key="DBoardPath" value="http://cal15/ChartApplication/DashBoard.aspx?"/>
   <add key="ImagePath" value="C:/"/>
	 <add key="CaliberReportURL2" value="Report3.aspx?"/>

   
   <add key="FilterDataTypes" value="1,2,3,4,8,17"/>
   <add key="NotAlloedDataTypes" value="11,12,15,16"/>


   <!--<add key="ChartTypes" value="Column#*#Line#*#Pie#*#Bar 3D#*#Bar Clustered#*#Pie#*#Line#*#Area#*#Bubble#*#Doughnut#*#Funnel#*#Point#*#Pyramid"/>
   <add key="ChartTypevalues" value="10,3,17,7,8,27,6,13,2,18,33,0"/>-->

	 

	 <add key="ChartTypes" value="Column#*#Line#*#Pie#*#Bar#*#Point#*#FastPoint#*#Bubble#*#Spline#*#StepLine#*#FastLine#*#StackedBar#*#StackedBar100#*#StackedColumn#*#StackedColumn100#*#Area#*#SplineArea#*#StackedArea#*#StackedArea100#*#Doughnut#*#Stock#*#Candlestick#*#Range#*#SplineRange#*#RangeBar#*#RangeColumn#*#Radar#*#Polar#*#ErrorBar#*#BoxPlot#*#Renko#*#ThreeLineBreak#*#Kagi#*#PointAndFigure#*#Funnel#*#Pyramid"/>


   <add key="AditionalIsuFields" value="Issue Code#*#Issue Type"/>
   <add key="AditionalIsuFldIds" value="0,1"/>
   <add key="AditionalIsuFldVal" value="IsuId#*#IsuType"/>
   <add key=" AditionalIsufldColName" value="IsuLogIdUCode#*#Category#*#ChldRefIsuCodes"/>


   <add key="AditionalIsuFields1" value="Issue Code"/>
   <add key="AditionalIsuFldIds1" value="0"/>
   <add key="AditionalIsuFldVal1" value="IsuID"/>


   <add key="ActPlanRptCaptions" value="Unique Code#*#DescRiption#*#Issue Code#*#Issue Category"/>
   <add key="ActPlanRptColNos" value="2,3,9,6"/>
   <add key="ActPlanRptWidths" value="150px,150px,150px,150px"/>



   <add key="WekIssFields" value="ENB032#*#ENB105#*#ISSU054#*#ISSU055#*#QMS003#*#A0317#*#A0186#*#AM0750#*#QMS012#*#AM0585#*#A0198"/>
   <add key="WekIssFieldIds" value="1,2,3,4,5,6,7,8,9,10,11"/>
   <add key="WrkFldColNo" value="3,22,27,28,26,25,23,24,40,41,42"/>
   <add key="WrkFldColNo1" value="2,4,9,10,8,7,5,6,11,18,19"/>
   <!--for workitems that are not yet excuted-->


   <add key="PlanFields" value="Issue Code#*#Plan Code#*#Plan Description/ Title#*#Plan Reviewed and Closed By#*#Plan Closed On#*#Plan Closure Comments#*#Plan Type#*# Plan Initiated By#*#Plan Initiated On#*#Incharge Group#*#Target Date#*#Effectiveness Required"/>
   <add key="PlanFieldIds" value="13,1,2,3,4,6,7,8,9,10,11,12"></add>
   <add key="PlanFldColVals" value="0,2,3,16,17,8,5,9,10,14,15,22"/>
   <add key="PlanFldColType" value="0,0,0,0,1,0,0,0,1,0,1,0"/>


   <add key="ChildTabColNames" value="ISSU007#*#AM0010#*#SPR0013#*#SPR0014"/>
   <add key="ChildTabColNo" value="2,7,4,5"/>

   <add key="BatchCapStr" value="ENB036#*#QMS044#*#A0053#*#A0234#*#AM0721#*#A0004"/>
   <add key="BatchCapStr1" value="ENB036#*#QMS044#*#A0234#*#AM0721"/>
   <add key="LotCapStr" value="ENB036#*#QMS083#*#QMS084"/>
   <add key="AffecDocCapStr" value="ENB036#*#A0137#*#A0125#*#QMS093"/>

   <add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0456"></add>
   <add key="WorkAllCols" value="3,4,11,8,27,5,6,7,9"></add>
   <add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150"></add>


   <add key="ActionPlanCaption" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Status"></add>
   <!--<add key="ActionPlanCaption1" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Effectiveness#*#Summary#*#Closed By#*#Closed On#*#Status"></add>-->
   <add key="ActionPlanCaption1" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS049#*#QMS050#*#AM0686#*#A0456"></add>


  
   <add key="IsuClosureColList" value="AM0010#*#ISSU001#*#SPR0013#*#SPR0014"/>
   <add key="IsuClosureWidth" value="20,20,20,20"/>
   <add key="IsuClosureCols" value="12,10,2,3"/>
   <add key="DisableCtrlIds" value="11,15,16,17,20"/>


   <!--<asp:ListItem Value="2">Bubble</asp:ListItem>
 	 <asp:ListItem Value="18">Doughnut</asp:ListItem>
	 <asp:ListItem Value="33">Funnel</asp:ListItem>
	  <asp:ListItem Value="0">Point</asp:ListItem>
	 <asp:ListItem Value="34">Pyramid</asp:ListItem>
	 <asp:ListItem Value="15">StackedArea</asp:ListItem>
	 <asp:ListItem Value="8">StackedBar</asp:ListItem>
	 <asp:ListItem Value="11">StackedColumn</asp:ListItem>-->

	 <!--For Escalations Pending List-->

	 <add key="EscPendCapWidthsForIssu" value="1.0, 1.1, 1.0,1.0,1.0,1.0,0.5,1.0,0.5,1.5,0.5,5.0,5.0,5.0"/>
	 <add key="EscPendCapWidthsForWrkItms" value="1.0,2.0, 1.0, 1.0, 1.0, 1.0, 0.5, 1.0, 0.5, 1.5, 0.5,0.5, 5.0,5.0,5.0"/>
	 <add key="EscPendCapWidthsForActnPlns" value="1.1, 1.0, 3.0, 1.0, 1.0, 1.0, 0.7, 0.7, 0.5, 0.7, 0.5,1.5,0.5,1.5,5.0,5.0,5.0"/>
	 <add key="EscCapWidthsForSAP" value="1.5, 1.0, 1.0, 2.0, 2.0, 2.0,2.0"/>

	 <add key="BatchAppCap1" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299"></add>   <!--#*#QAMS300#*#QAMS301-->
   <add key="BatchAppCap2" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303"></add>   <!--#*#QAMS300#*#QAMS301-->
   <add key="BatchAppCap3" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303#*#QAMS309#*#QAMS310"></add>   <!--QAMS300#*#QAMS301#*#-->
   <add key="BatchAppCap4" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303#*#QAMS309#*#QAMS310"></add>
   

	 <!--For Column Config-->
	 <add key="ColCfgLstName" value="Login Re-Initiation List#*#Login Review Or Approval List#*#Issue Works Execution Initiation List#*#Issue Works Execution Review or Approval List#*#Plan Allocation List#*#Plan Execution Initiation List#*#Plan Execution Review or Approval List#*#Plan Closure List#*#Closure Initiation List #*#Closure Re-Initiation List #*#Closure Review Or Approval List"/>
	 <add key="ColCfgLstIds" value="45,46,47,48,49,50,51,52,53,54,55"/>
	 <!--End of For Column Config-->
	 
	 
	 <!--QAMS300#*#QAMS301#*#-->
	<add key="BAtchAppColVal" value="7,4,23,8,15,17,20,21"></add>   <!--12,13,-->

 </appSettings>

</configuration>
