<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>-->
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380 "></add>
		<add key="CRApCols" value="5,2,3,4"></add>
		<add key="CRApColWidths" value="150px,150px,100px,150px"></add>
		<add key="CRRiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="CRRiCols" value="5,2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ActCols" value="5,2,3,4"></add>
		<add key="ActColWidths" value="150px,150px,150px,150px"></add>
		<add key="InActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="InActCols" value="5,2,3,4"></add>
		<add key="InActColWidths" value="150px,150px,150px,150px"></add>
		<add key="MOApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="MOApCols" value="5,2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px,150px"></add>
		<add key="MORiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="MORiCols" value="5,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ScApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ScApCols" value="5,2,3,4"></add>
		<add key="ScApColWidths" value="150px,150px,150px,150px"></add>
		<add key="AudtColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="AudtCols" value="5,2,3,4"></add>
		<add key="AudtColWidths" value="150px,150px,150px,150px"></add>
		<add key="ExistColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ExistCols" value="5,2,3,4"></add>
		<add key="ExistColWidths" value="150px,150px,150px,150px"></add>

		<add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#QMS011#*#QMS012#*#AM0383#*#AM0750#*#A0456#*#ENB170"></add>
		

    <add key="WorkAllCap1" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#QMS011#*#QMS012#*#AM0383#*#AM0750#*#A0456"></add>
    <add key="WorkAllCols" value="3,4,13,10,9,5,37,40,6,7,11"></add>
    
		<add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150,150,50,150"></add>
    <add key="ColumnIdList" value="WorkItemIdLbl#*#WrhDescLbl#*#WrkTypeLbl#*#WrkFlowLbl#*#eFromLbl#*#AssignToLbl#*#TimeDurationTxt#*#WrkDependencyTxt#*#StartDateTxt#*#TargetDateTxt#*#StatusLbl#*#RBID"></add>
    
    <!--<add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0456"></add>
    <add key="WorkAllCols" value="3,4,13,10,9,5,6,7,11"></add>
    <add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150"></add>-->

    <add key="IsuTypeColLst" value="A0306#*#QMS008#*#ISSU001#*#QMS001#*#QMS002"/>
    <add key="IsuWITColLst" value="ISSU007#*#QMS008#*#ISSU001#*#QMS002"/>

    <add key="IsuLogColCp" value="ISSU001#*#A0185#*#A0187#*#A0380"></add> 
    <add key="IsuLogCols" value="10,2,3,4"></add>
    <add key="IsuLogColWidths" value="150px,150px,140px,90px"></add>

    <add key="DIFleldCaptions" value="A0050#*#A0053#*#A0234#*#AM0721#*#A0004"/>
    <add key="DIFieldType" value="1,1,2,2,1"/>
    <add key="DIFieldID" value="BatchNoTxt#*#BatchSizeTxt#*#MfgDate#*#ExpDate#*#ArNotxt"/>
    <add key="DIFieldColVal" value="1,2,3,4,5"/>


    <add key="MCFleldCaptions" value="A0050#*#A0234#*#AM0721"/>
    <add key="MCFieldType" value="1,2,2"/>
    <add key="MCFieldID" value="BatchNoTxt#*#MfgDate#*#ExpDate"/>
    <add key="DIFieldColNo" value="1,2,3"/>

    <add key="BatchCaption" value="QMS044#*#A0053#*#A0234#*#AM0721#*#A0004"/>
    <add key="BatchCaption1" value="QMS044#*#A0234#*#AM0721"/>

    <add key="WorkTempID" value="150"/>

	<add key="DeptName" value="Initiating Department"/>
		
	<add key="SAPCheck" value="1"></add>

    <add key="issueCodeJoiner" value="-"></add>


		<!--Check Ithe Category Id form  LMS_BAL_PROCESS_TAB-->

	<add key="RestrictedDepts1" value="Regulatory Affairs#*#Quality Assurance#*#Regulatory Department Comments#*#Quality Department"/>	<!--For  PCC-->
	<add key="RestrictedDepts5" value="Regulatory Affairs.#*#Quality Assurance.#*#Regulatory Department Comments.#*#Quality Department."/>	<!--For  TCC-->
    <add key="RestrictedDepts2" value="Quality Assurance#*#Quality Department"/> <!--For  DEV-->
    <add key="RestrictedDepts4" value="Quality Assurance#*#Quality Department"/> <!--For CAPA-->

    <add key="DisableCtrlIds" value="11,15,16,17,20"/>
    <!--For Modification-->


    
    <add key="DisableCtrlIds" value="11,15,16,17,20"/> <!--For Modification-->
    
    
  </appSettings>
	</configuration>
