<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"/>
    <add key="CRApColCp" value="Name #*# Initiated On  #*# Initiated By"/>
    <add key="CRApCols" value="5,9,8"/>
    <add key="CRRiColCp" value="Name #*# Returned By #*# Returned On #*# Remarks / Reasons"/>
    <add key="CRRiCols" value="5,8,10,9"/>
    <add key="ActColCp" value="Name #*#Revision No."/>
    <add key="ActCols" value="3,5"/>
    <add key="InActColCp" value="Name"/>
    <add key="InActCols" value="3"/>
    <add key="MOApColCp" value="Name #*# Initiated By #*# Initiated On"/>
    <add key="MOApCols" value="6,9,10"/>
    <add key="MORiColCp" value="Name #*# Returned By #*# Returned On #*#  Remarks / Reasons"/>
    <add key="MORiCols" value="5,8,10,9"/>
    <add key="ScApColCp" value="Name #*# Initiated By #*# Initiated On"/>
    <add key="ScApCols" value="5,8,9"/>
    <add key="AudtColCp" value="Name #*#Revision No."/>
    <add key="AudtCols" value="2,4"/>
    <add key="ExistColCp" value="Name"/>
    <add key="ExistCols" value="3"/>
  </appSettings>
 
</configuration>