<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="IssueTypeConfig.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="QMS021#*#A0185 #*# A0582 "></add>
		<add key="CRApCols" value="1,2,3"></add>
		<add key="CRApColWidths" value="150px,150px,100px"></add>
		
		<add key="CRRiColCp" value="QMS021#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="CRRiCols" value="1,2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
		
		<add key="ActColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ActCols" value="1,2,3,4"></add>
		<add key="ActColWidths" value="150px,150px,150px,150px"></add>
		
		<add key="InActColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="InActCols" value="1,2,3,4"></add>
		<add key="InActColWidths" value="150px,150px,150px,150px"></add>
		
		<add key="MOApColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="MOApCols" value="1,2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px,150px"></add>
		
		<add key="MORiColCp" value="QMS021#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="MORiCols" value="1,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
		
		<add key="ScApColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ScApCols" value="1,2,3,4"></add>
		<add key="ScApColWidths" value="150px,150px,150px,150px,150px"></add>
		
		<add key="AudtColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="AudtCols" value="1,2,3,4"></add>
		<add key="AudtColWidths" value="150px,150px,150px,150px,150px"></add>
		
		<add key="ExistColCp" value="QMS021#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ExistCols" value="1,2,3,4"></add>
		<add key="ExistColWidths" value="150px,150px,150px,150px"></add>


		<add key="IssColNames" value="ISSU007#*#QMS021#*#A0185#*#A0187"></add>
		<add key="IssColCols" value="2,4,5,6"></add>
		<add key="IssColWidths" value="150px,300px,150px,180px"></add>


   <!--ValidationRules = "Text,Value" -->
   <!--<add key="ValidationRules" value="RequiredFieldValidator,1#*#RangeValidator,2#*#RegularExpressionValidator,3#*#CompareValidator,4#*#CustomValidator,5#*#UserDefineValidator,6"></add>
   <add key="IntegerValidationRul" value="RequiredFieldValidator,1#*#RangeValidator,2#*#CompareValidator,4#*#CustomValidator,5"></add>
   <add key="FloatValidationRul" value="RequiredFieldValidator,1#*#RangeValidator,2#*#CompareValidator,4#*#CustomValidator,5"></add>
   <add key="DateTimeValidationRul" value="RequiredFieldValidator,1#*#UserDefineValidator,6#*#CustomValidator,5"></add>
   <add key="GeneralValidationRul" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>
   <add key="CustomValidator" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>-->

	 <add key="ValidationRules" value="RequiredFieldValidator,1#*#CustomValidator,5#*#UserDefineValidator,6"></add>
	 <add key="IntegerValidationRul" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>
	 <add key="FloatValidationRul" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>
	 <add key="DateTimeValidationRul" value="RequiredFieldValidator,1#*#UserDefineValidator,6#*#CustomValidator,5"></add>
	 <add key="GeneralValidationRul" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>
	 <add key="CustomValidator" value="RequiredFieldValidator,1#*#CustomValidator,5"></add>
	 

   <add key="DDLCustomValidFuns" value="DepartmentValdFun#*#EventRelatedtoValdFun"></add>
   <add key="DDLCustomValidfunID" value="1,2"></add>

   <add key="DateCustomValidFuns" value="CurrentDateValidateFun"></add>
   <add key="DateCustomValidfunID" value="3"></add>
   
   
   <add key="ValidationRulesOld" value="String,1#*#Integer,2#*#Date,3"></add>

	</appSettings>
	
 <applicationSettings>
  <IssueTypeConfig.My.MySettings>
   <setting name="IssueTypeConfig_IssueLoginWS_Service1" serializeAs="String">
    <value>http://cal41/IssueLoginWS/Service1.asmx</value>
   </setting>
  </IssueTypeConfig.My.MySettings>
 </applicationSettings>
</configuration>
