<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380 "></add>
		<add key="CRApCols" value="5,2,3,4"></add>
		<add key="CRApColWidths" value="150px,150px,100px,150px"></add>
		<add key="CRRiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="CRRiCols" value="10,2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ActCols" value="5,2,3,4"></add>
		<add key="ActColWidths" value="150px,150px,150px,150px"></add>
		<add key="InActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="InActCols" value="5,2,3,4"></add>
		<add key="InActColWidths" value="150px,150px,150px,150px"></add>
		<add key="MOApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="MOApCols" value="5,2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px,150px"></add>
		<add key="MORiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"></add>
		<add key="MORiCols" value="5,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ScApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ScApCols" value="5,2,3,4"></add>
		<add key="ScApColWidths" value="150px,150px,150px,150px"></add>
		<add key="AudtColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="AudtCols" value="5,2,3,4"></add>
		<add key="AudtColWidths" value="150px,150px,150px,150px"></add>
		<add key="ExistColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"></add>
		<add key="ExistCols" value="5,2,3,4"></add>
		<add key="ExistColWidths" value="150px,150px,150px,150px"></add>

		<!--<add key="WorkAllCap" value="ISSU053#*#ENB105#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750"></add>
    <add key="WorkAllCols" value="3,4,8,27,5,6,7"></add>
    <add key="WorkAllWidths" value="60,150,150,150,150,150,150"></add>-->

		<add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0456"></add>
		<add key="WorkAllCols" value="3,4,11,8,27,5,6,7,9"></add>
		<add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150"></add>



		<add key="ActionPlanCaption" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Status"></add>
		<!--<add key="ActionPlanCaption1" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Effectiveness#*#Summary#*#Closed By#*#Closed On#*#Status"></add>-->
		<add key="ActionPlanCaption1" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS049#*#QMS050#*#AM0686#*#A0456"></add>


		<add key="ChildTabColNames" value="ISSU007#*#AM0010#*#SPR0013#*#SPR0014"/>
		<add key="ChildTabColNo" value="2,7,4,5"/>


		<add key="IsuClosureColList" value="AM0010#*#ISSU001#*#SPR0013#*#SPR0014"/>
		<add key="IsuClosureWidth" value="20,20,20,20"/>
		<add key="IsuClosureCols" value="12,10,2,3"/>
		<add key="DisableCtrlIds" value="11,15,16,17,20"/>
		<!--For Modification-->
		<!--For DMSReport-->
		<add key="DMSRptCap" value="S.No.#*#Document ID#*#Document Name/Title#*#Document Description#*#Uploaded By#*#Uploaded On"/>
		<add key="DMSRptCapVal" value="0.5,1.0,2.0,3.0,2.0,1.0"/>


	</appSettings>
</configuration>
