<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="MTT003 #*#A0185#*#A0582"></add>
		<add key="CRApCols" value="1,2,3"></add>
		<add key="CRApColWidths" value="150px,150px,100px"></add>
		<add key="CRRiColCp" value="MTT003#*#A0608 #*#A0609#*#A0607"></add>
		<add key="CRRiCols" value="1,2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ActColCp" value="MTT003#*#A0185 #*#A0582#*#A0586"></add>
		<add key="ActCols" value="1,2,3,4"></add>
		<add key="ActColWidths" value="150px,150px,150px,100px"></add>
		<add key="InActColCp" value="MTT003#*#A0185 #*# A0582#*#A0586"></add>
		<add key="InActCols" value="1,2,3,4"></add>
		<add key="InActColWidths" value="150px,150px,150px,100px"></add>
		<add key="MOApColCp" value="MTT003#*#A0185 #*# A0582#*#A0586"></add>
		<add key="MOApCols" value="1,2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px,150px"></add>
		<add key="MORiColCp" value="MTT003#*#A0608 #*# A0609#*#A0607"></add>
		<add key="MORiCols" value="1,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,150px,250px"></add>
		<add key="ScApColCp" value="MTT003#*#A0185 #*# A0582#*#A0586"></add>
		<add key="ScApCols" value="1,2,3,4"></add>
		<add key="ScApColWidths" value="150px,150px,150px,150px,150px"></add>
		<add key="AudtColCp" value="MTT003#*#A0185 #*# A0582#*# A0586"></add>
		<add key="AudtCols" value="1,2,3,4"></add>
		<add key="AudtColWidths" value="150px,150px,150px,150px,100px"></add>
		<add key="ExistColCp" value="MTT003#*#A0185 #*# A0582#*#A0586"></add>
		<add key="ExistCols" value="1,2,3,4"></add>
		<add key="ExistColWidths" value="150px,150px,150px,100px"></add>
	</appSettings>
</configuration>
