<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="ImgColCp" value="Description#*#Initiated By#*#Initiated On"></add>
    <add key="ImgCols" value="2,3,4"></add>
    <add key="ImgColsWidths" value="150px,150px,150px"></add>

    <!--#*#Audit Planing#*#Audit Initiation#*#Audit Observations#*#Audit Responce#*#Audit Closure#*#Calender Report-->
    <!--#*#SelfInspection/Trn.aspx?tt=1#*#SelfInspection/SelfInsList.aspx#*#AuditObservation/AuditProposalList.aspx#*#AuditResponse/ObservationList.aspx#*#AuditResponse/AuditCloserList.aspx#*#AuditReports/CalendarReport.aspx-->
    
    <add key="MenuList" value="Login Initiation#*#Login Re-Initiation#*#Login Approval#*#Related My Work(s) I (Initiation)#*#Related My Work(s) A (Rev/ App)#*#CAPA Plans(s) Initiation#*#CAPA Related Work(s) Plan#*#CAPA Related My Work(s) I (Initiation)#*#CAPA Related My Work(s) A (Rev / App)#*#CAPA Plan(s) Closure#*#Closure Initiaon#*#Closure Re-Initiation#*#Closure Rev/App#*#Mail#*#Status#*#Report#*#Plan Proposal#*#Plan Acceptance#*#Plan Recommendation"/>
    <add key="MenuUrl" value="PrsWorkFlow/IsuLoginLst.aspx#*#IssueLogin/RIList.aspx#*#IssueLogin/IssRevAppList.aspx?AppCnt=#*#TestEFormExecution/MyWorkItems.aspx?Type=1#*#TestEFormExecution/EFormAppList.aspx?Type=1#*#PrsWorkFlow/WrkActionPlansList.aspx#*#CAPAWORKS/CorrectiveActList.aspx#*#TestEFormExecution/MyWorkItems.aspx?Type=2#*#TestEFormExecution/EFormAppList.aspx?Type=2#*#PrsWorkFlow/CAPAClosureLst.aspx#*#IssueClosure/IssueClsList.aspx#*#IssueClosure/RIList.aspx#*#IssueClosure/IssRevAppList.aspx?AppCnt=#*#MailConfiguration/Trn.aspx?TT=1#*#CAPAWORKS/StatusReport.aspx#*#CAPAWORKS/EvaluationList.aspx?RepType=2#*#PrsWorkFlow/CAPAPrposalList.aspx?Type=1#*#PrsWorkFlow/CAPAPrposalList.aspx?Type=2#*#PrsWorkFlow/CAPAPrposalList.aspx?Type=3"/>
    
  </appSettings>
  <system.web>
  </system.web>
</configuration>
