<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"/>
    <add key="CRApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380 "/>
    <add key="CRApCols" value="5,2,3,4"/>
    <add key="CRApColWidths" value="150px,150px,100px,150px"/>
    <add key="CRRiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"/>
    <add key="CRRiCols" value="5,2,3,4"/>
    <add key="CRRiColWidths" value="150px,150px,150px,250px"/>
    <add key="ActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="ActCols" value="5,2,3,4"/>
    <add key="ActColWidths" value="150px,150px,150px,150px"/>
    <add key="InActColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="InActCols" value="5,2,3,4"/>
    <add key="InActColWidths" value="150px,150px,150px,150px"/>
    <add key="MOApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="MOApCols" value="5,2,3,4"/>
    <add key="MOApColWidths" value="150px,150px,150px,150px"/>
    <add key="MORiColCp" value="ISSU001#*#A0608 #*# A0609 #*# A0607"/>
    <add key="MORiCols" value="5,2,3,4"/>
    <add key="MORiColWidths" value="150px,150px,150px,250px"/>
    <add key="ScApColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="ScApCols" value="5,2,3,4"/>
    <add key="ScApColWidths" value="150px,150px,150px,150px"/>
    <add key="AudtColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="AudtCols" value="5,2,3,4"/>
    <add key="AudtColWidths" value="150px,150px,150px,150px"/>
    <add key="ExistColCp" value="ISSU001#*#A0185 #*# A0582#*#A0380"/>
    <add key="ExistCols" value="5,2,3,4"/>
    <add key="ExistColWidths" value="150px,150px,150px,150px"/>
    <add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#QMS012#*#AM0383#*#AM0750#*#A0456"/>
    <add key="WorkAllCols" value="3,4,11,8,27,5,36,6,7,9"/>
    <add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150,150"/>
    <add key="ActionPlanCaption" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#QMS107#*#A0456"/>
    <add key="ActionPlanCaption2" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"/>
    <add key="ActionPlanCaption1" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#A0582#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"/>
    <!--Effectiveness#*#-->
    <add key="ActionPlanCaption3" value="QMS062#*#QMS042#*#QMS125#*#QMS064#*#AM0750#*#AM1391#*#AM0111#*#A0456#*#QAMS316#*#QAMS317"/>
    <add key="ActionPlanWrkCaption" value="QMS042#*#QMS062#*#QMS063#*#QMS125#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"/>
    <add key="IsuWITColLst" value="ISSU007#*#ISSU001#*#QMS008"/>
    <!--#*#QMS002-->
    <add key="Captions" value="A0306#*#ISSU001#*#QMS001"/>
    <!--#*#QMS002-->
    <add key="ConfigEvents" value="Work(s) Plan List#*#Work(s) Initiation List#*#Work(s) Rev/App List#*#Works(s) Closure List#*#CAPA Plan(s) Initiation List#*#CAPA Work(s) Plan List#*#CAPA Work(s) Initiation List#*#CAPA Work(s) Rev/App List#*#CAPA Plan(s) Closure List#*#Closure List#*#Final Report#*#Login Rev/App List#*#Closure Rev/App List"/>
    <add key="ConfigEventIds" value="2,3,4,5,6,7,8,9,10,11,12,13,14"/>
    <add key="WitColNames" value="ENB105#*#ISSU054#*#ISSU007#*#QMS008#*#ISSU001#*#ENB014#*#ISSU055#*#AM0383#*#AM0750#*#QMS012"/>
    <add key="WitColCols" value="10,25,28,30,29,24,23,22,19,33"/>
    <add key="WitColWidths" value="150px,150px,150px,150px,150px,150px,150px,150px,150px,150px"/>
    <add key="WitColNames1" value="ENB105#*#ISSU054#*#ISSU007#*#QMS008#*#ENB014#*#ISSU055#*#AM0383#*#AM0750"/>
    <add key="WitColCols1" value="10,25,28,30,24,23,22,19"/>
    <add key="WitColWidths1" value="150px,150px,150px,150px,150px,150px,150px,150px"/>
    <add key="EFActColCp" value="ENB105#*#ISSU007#*#A0185#*#A0187"/>
    <add key="EFActCols" value="12,11,2,3"/>
    <add key="EFActColWidths" value="150px,150px,150px,140px"/>
    <add key="MaxSelColumnVal" value="50"/>
    <add key="BatchAppCap1" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303#*#QAMS401#*#QAMS402"/>
    <!--#*#QAMS300#*#QAMS301-->
    <add key="BatchAppCap2" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303"/>
    <!--#*#QAMS300#*#QAMS301-->
    <add key="BatchAppCap3" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303#*#QAMS309#*#QAMS310"/>
    <!--QAMS300#*#QAMS301#*#-->
    <add key="BatchAppCap4" value="ISSU007#*#QAMS297#*#QAMS298#*#QAMS299#*#QAMS302#*#QAMS303#*#QAMS309#*#QAMS310"/>
    <!--QAMS300#*#QAMS301#*#-->
    <add key="BAtchAppColVal" value="7,4,23,8,15,17,20,21"/>
    <add key="BatchPreviewCOl1" value="7,4,23,8,15,17,12,13"/>
    <add key="BatchPreviewCOl2" value="7,4,23,8,15,17"/>
    <add key="BatchPreviewCOl3" value="7,4,23,8,15,17,20,21"/>
    <add key="CaptionStr" value="ISSU001#*#QMS008"/>
  </appSettings>

</configuration>