<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>


    <add key="DbType" value="1"/>
    <add key="DateFormat" value="dd MMM yyyy"/>
    <add key="DMSMaxFileLength" value="10485760"/>
    <add key="RptDbConStr" value="Password=caliber_TAG;Persist Security Info=False;User ID=sa;Initial Catalog=EX062_DMS_DEV;Data Source=caltag\tag2k8r2"/>
    <add key="CaliberReportURL2" value="http://cal2/CaliberReportService/ReportViewer/Report2.aspx?"/>
    <add key="CaliberReportURL" value="Report2.aspx?"/>

    <!--<add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;deleteAfterServicing=false;"/>-->
    <!--<add key="ChartImageHandler" value="Storage=file;Timeout=20;  dir=d:\Temp\;deleteAfterServicing=false;"/>-->

    <!--<add key="ChartImageHandler" value="Storage=file;Timeout=360;Url=../../tempimg/;deleteAfterServicing=false;"/>-->
    <!--<add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>-->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;deleteAfterServicing=false;privateImages=false;"/>

  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>



  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>
<!--</appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
   
    
     
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
       <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
        <remove name="ChartImageHandler"/>
        <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </handlers>
    </system.webServer>
  </configuration>-->