<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
	<appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="A0125#*#A0185#*#A0187"></add>
		<add key="CRApCols" value="1,2,3"></add>
		<add key="CRApColWidths" value="150px,150px,140px"></add>
		<add key="CRRiColCp" value="A0125#*#A0608#*#A0609#*#A0607"></add>
		<add key="CRRiCols" value="1,2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,140px,140px"></add>
		<add key="ActColCp" value="A0125#*#A0185 #*# A0187 "></add>
		<add key="ActCols" value="1,2,3"></add>
		<add key="ActColWidths" value="150px,150px,150px"></add>
		<add key="InActColCp" value="A0125#*#A0185#*#A0187"></add>
		<add key="InActCols" value="1,2,3"></add>
		<add key="InActColWidths" value="150px,150px,150px"></add>
		<add key="MOApColCp" value="A0125#*#A0185#*#A0187"></add>
		<add key="MOApCols" value="1,2,3"></add>
		<add key="MOApColWidths" value="150px,150px,140px"></add>
		<add key="MORiColCp" value="A0125#*#A0608#*#A0609#*#A0607"></add>
		<add key="MORiCols" value="1,2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,140px"></add>
		<add key="ScApColCp" value="A0125#*#A0185#*#A0187"></add>
		<add key="ScApCols" value="1,2,3"></add>
		<add key="ScApColWidths" value="150px,150px,140px"></add>
		<add key="AudtColCp" value="A0125#*#A0185 #*# A0187 "></add>
		<add key="AudtCols" value="1,2,3"></add>
		<add key="AudtColWidths" value="150px,150px,150px"></add>
		<add key="ExistColCp" value="A0125#*#A0185#*#A0187"></add>
		<add key="ExistCols" value="1,2,3"></add> 
		<add key="ExistColWidths" value="150px,150px,140px"></add>

		<add key="COAColCp" value="A0318#*#A0598#*#A0050#*#A0393#*#A0444#*#A0357"></add>
		<add key="COACols" value="9,15,14,13,10,1"></add>
		<add key="COAColsWidths" value="100px,100px,80px,90px,80px,80px"></add>






    <add key="WorkAllCap" value="ISSU053#*#ENB105#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0456"></add>
    <add key="WorkAllCols" value="3,4,8,27,5,6,7,9"></add>
    <add key="WorkAllWidths" value="60,150,150,150,150,150,150,150"></add>

    <add key="WorkAllCap1" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#ENB261#*#ENB035#*#AM0383#*#AM0750#*#A0456"></add>
    <add key="WorkAllCols1" value="3,4,13,10,9,5,6,7,11"></add>
    <add key="WorkAllWidths1" value="60,150,150,150,150,150,150,150,150"></add>


    <add key="RepWitCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#ENB261#*#ENB035"></add>
    <add key="RepWitCols" value="2,3,4,5,7,9"></add>
    <add key="RepWitWidths" value="60,150,150,150,150"></add>

    <add key="RepIsuCap" value="ISSU007#*#ISSU001#*#AM0010#*#A0185#*#A0582"></add>
    <add key="RepIsuCols" value="2,4,8,6,7"></add>
    <add key="RepIsuWidths" value="150,150,150,150,150"></add>


    <!--<add key="ActionPlanCaption" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Effectiveness#*#Summary#*#Closed By#*#Closed On#*#Status"></add>
    <add key="ActionPlanCaption2" value="S.No#*#Action Plan Type#*#Action Plan Code#*#Description In Brief#*#Effectiveness#*#Summary#*#Closed By#*#Closed On"></add>-->

    <add key="ActionPlanCaption" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"></add>
    <add key="ActionPlanCaption2" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686"></add>
    <add key="ActionPlanColNum" value="0,5,2,3,7,9,10,11"></add>


    <add key="ActionPlanCaption1" value="S.No#*#Action Plan Type#*#Description In Brief#*#Effectiveness#*#Closed By#*#Closed On"></add>
    <!--Action Plan Code#*#Summary#*#-->
    <add key="ActionPlanCaption1" value="QMS042#*#QMS062#*#Effectiveness#*#Closed By#*#Closed On"></add>
    <!--Action Plan Code#*#Summary#*#-->

    <add key="ActPlnColNo1" value="1#*#5#*#3#*#7#*#9#*#10"></add>
    <!--2#*#8#*#-->
    <add key="ActionPlanWidPx" value="49#*#100#*#150#*#115#*#115#*#115"></add>
    <!--135#*#135#*#-->
    <add key="ActionPlanWidth" value="37.05#*#6.25#*#96.25#*#80.25#*#80.25#*#80.25"></add>
    <!--108.6#*#96.25#*#-->


    <add key="ActPlnColNo" value="1#*#5#*#2#*#3#*#7#*#8#*#9#*#10"></add>

    <add key="WekIssFields" value="ENB032#*#ENB105#*#ISSU054#*#ISSU055#*#QMS003#*#A0317#*#A0186#*#AM0750"/>
    <add key="WekIssFieldIds" value="1,2,3,4,5,6,7,8"/>
    <add key="WrkFldColNo" value="3,22,27,28,26,25,23,24"/>


    <add key="PlanFields" value="Issue Code#*#Plan Code#*#Plan Description/ Title#*#Plan Reviewed and Closed By#*#Plan Closed On#*#Plan Closure Comments#*#Plan Type#*# Plan Initiated By#*#Plan Initiated On#*#Incharge Group#*#Target Date#*#Effectiveness Required"/>
    <!--Plan Effectiveness#*#-->
    <add key="PlanFieldIds" value="13,1,2,3,4,6,7,8,9,10,11,12"></add>
    <!--5,-->
    <add key="PlanFldColVals" value="0,2,3,16,17,8,5,9,10,14,15,22"/>
    <!--7,-->
    <add key="PlanFldColType" value="0,0,0,0,1,0,0,0,1,0,1,0"/>


    <add key="ChildTabColNames" value="ISSU007#*#AM0010#*#SPR0013#*#SPR0014"/>
    <add key="ChildTabColNo" value="2,7,4,5"/>


    <add key="AditionalIsuFields" value="Issue Code#*#Referevce Issue Code#*#Child Reference Issues"/>
    <add key="AditionalIsuFldIds" value="0,1,2"/>
    <add key="AditionalIsuFldVal" value="IsuId#*#RefIsuId#*#CldRefisuId"/>
    <add key=" AditionalIsufldColName" value="IsuLogIdUCode#*#RefIsuCode#*#ChldRefIsuCodes"/>


    <add key="AditionalIsuFields1" value="Issue Code"/>
    <add key="AditionalIsuFldIds1" value="0"/>
    <add key="AditionalIsuFldVal1" value="IsuID"/>


    <add key="ActPlanRptCaptions" value="Unique Code#*#DescRiption#*#Issue Code#*#Issue Category"/>
    <add key="ActPlanRptColNos" value="2,3,9,6"/>
    <add key="ActPlanRptWidths" value="150px,150px,150px,150px"/>


    <!-- Status Report Related Colmns And Column ID-->

    <add key="LoginCaptions" value="A0306#*#ISSU001#*#QMS001"/>
    <add key="IsuWITColCaptions" value="ISSU007#*#ISSU001"/>
    <!--<add key="WitColNames" value="ENB204#*#ENB105#*#ISSU054#*#ISSU007#*#QMS008#*#ISSU001#*#ENB014#*#ISSU055#*#AM0383#*#AM0750"></add>-->
    <add key="WitColNames" value="ENB105#*#ISSU054#*#ISSU007#*#QMS008#*#ISSU001#*#ENB014#*#ISSU055#*#AM0383#*#AM0750#*#QMS012"></add>
    <!--<add key="EFActColCp" value="ENB043#*#ENB105#*#A0535#*#A0185#*#A0187#*#A0380"></add>-->
    <add key="EFActColCp" value="ENB105#*#ISSU007#*#A0185#*#A0187#*#A0380"></add>
    <!--<add key="CAPAWITCapLst" value="ISSU007#*#AM0010#*#ISSU001#*#QMS009"/>-->
    <add key="CAPAWITCapLst" value="ISSU007#*#ISSU001#*#QMS009"/>
    <add key="CAPAWITPlnCapLst" value="ISSU007#*#ISSU001#*#QMS009"/>
    <add key="CAPAWrkClsColCp" value="ISSU007#*#ISSU001#*#QMS009"/>
    <add key="WrkPlnClsLst" value="ISSU007#*#ISSU001#*#A0185#*#A0187"/>
    <add key="ClsCaptions" value="ISSU007#*#ISSU001#*#QMS009"/>


    <add key="IsuLogColCp" value="ISSU007#*#ISSU001#*#QMS008#*#A0185#*#A0187#*#A0380"></add>
    <add key="IsuLogCols" value="0,10,12,2,3,4"></add>
    <add key="IsuLogColWidths" value="150px,150px,150px,150px,140px,90px"></add>


    <add key="LoginIdLIst" value="2,3,5"/>
    <add key="IsuWITColLst" value="3,11"/>
    <!--<add key="WitColCols" value="9,10,25,28,30,29,24,23,22,19"></add>-->
    <add key="WitColCols" value="10,25,28,30,29,24,23,22,19,33"></add>
    <!--<add key="EFActCols" value="0,12,11,2,3,4"></add>-->
    <add key="EFActCols" value="12,11,2,3,4"></add>
    <!--<add key="CAPAWITColIDLst" value="3,7,6,8"/>-->
    <add key="CAPAWITColIDLst" value="3,6,8"/>
    <add key="CAPAWITPlnColLst" value="3,6,8"/>
    <add key="CAPAWrkClsCol" value="3,6,8"/>
    <add key="WrkPlnIDClsLst" value="3,8,5,6"/>
    <add key="ClsIdLIst" value="3,6,10"/>


    <add key="BatchCapStr" value="ENB036#*#QMS044#*#A0053#*#A0234#*#AM0721#*#A0004"/>
    <add key="BatchCapStr1" value="ENB036#*#QMS044#*#A0234#*#AM0721"/>
    <add key="LotCapStr" value="ENB036#*#QMS083#*#QMS084"/>
    <add key="AffecDocCapStr" value="ENB036#*#A0137#*#A0125#*#QMS093"/>

    <add key="EFormId" value="226"></add>
    <add key="EFormCode" value="136"></add>


    <add key="PlannedORUnPlanneddevCpt" value="S.NO.#*#Deviation Ref. No.#*#Department#*#Deviation Related To #*#Product / Material#*#Document Name#*#Equipment / Facility Name#*#Deviation Details#*#Approved / Rejected#*#Initiated By/On#*#Closed By/On"/>
    <add key="IncidentDeviationCpt" value="S.NO.#*#Incident Ref. No.#*#Department#*#Incident Related To#*#Product / Material#*#Document Name#*#Equipment/Facility Name#*#Incident Details#*#Approved/Rejected#*#Initiated By/On#*#Closed By/On "/>
    <add key="ChangeControlCap" value="S.NO.#*#Change Control Ref. No.#*#Customer#*#Department#*#Change Related To#*#Change Proposed#*#Reason for Change#*#Initiated By/On#*#Closed By/On "/>


    <add key="DeviationWodthLst" value="40;110;70;80;95;90;110;160;65;72;73"/>
    <add key="ChangeControlWidlst" value="40;115;100;120;90;155;155;90;100"/>


    <add key="DeviationCol" value="RefNo#*#DepartmentName#*#EventRelatedTo#*#ProductName#*#DocumentName#*#Equipmentname#*#DeviationDetails#*#Status#*#Initiated#*#Closed"/>
    <add key="ChangeControlCol" value="RefNo#*#Customer#*#DepartmentName#*#ChangeRelatedTo#*#ChangeProposed#*#ReasonforChange#*#Initiated#*#Closed"/>


    <add key="EFTFromTabName" value="TBL12120008"/>
    <add key="EFTFromTabColName" value="COL1212008001"/>
  </appSettings>


  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation></system.web>
  
  </configuration>