<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MyConStr" value="Password=password;Persist Security Info=True;User ID=sa;Initial Catalog=CLAPS11AUG05;Data Source=CAL16"/>
		<add key="AdminConStr" value="Password=password;Persist Security Info=True;User ID=sa;Initial Catalog=CLAPS11AUG05;Data Source=CAL16 "/>
		<add key="SMTPIP" value="10.10.1.35"/>
		
		<add key="ModuleCaptionsList" value="Issue Manager,AUDIT Management,CAPA Manager,eForm Manager,Configuration,System Manager"/>
		<add key="ModuleCategoryIDList" value="2,6,5,8,4,3"/>
	</appSettings>

	
</configuration>
