<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"/>
    <add key="CRApColCp" value="ENB033#*#A0185#*#A0187"/>
    <add key="CRApCols" value="1,2,3"/>
    <add key="CRApColWidths" value="150px,150px,150px,100px"/>
    <add key="CRRiColCp" value="ENB033#*#A0608#*#A0609#*#A0607"/>
    <add key="CRRiCols" value="1,2,3,4"/>
    <add key="CRRiColWidths" value="150px,150px,140px,150px"/>
    <add key="ActColCp" value="ENB033#*#A0185 #*# A0187 #*# A0380"/>
    <add key="ActCols" value="1,2,3,4"/>
    <add key="ActColWidths" value="150px,150px,140px,90px"/>
    <add key="InActColCp" value="ENB033#*#A0185#*#A0187#*#A0380"/>
    <add key="InActCols" value="1,2,3,4"/>
    <add key="InActColWidths" value="150px,150px,140px,90px"/>
    <add key="MOApColCp" value="ENB033#*#A0185#*#A0187#*#A0380"/>
    <add key="MOApCols" value="1,2,3,4"/>
    <add key="MOApColWidths" value="150px,150px,150px,100px"/>
    <add key="MORiColCp" value="ENB033#*#A0608#*#A0609#*#A0607"/>
    <add key="MORiCols" value="1,2,3,4"/>
    <add key="MORiColWidths" value="150px,150px,150px,150px"/>
    <add key="ScApColCp" value="ENB033#*#A0185#*#A0187#*#A0380"/>
    <add key="ScApCols" value="1,2,3,4"/>
    <add key="ScApColWidths" value="150px,150px,140px,90px"/>
    <add key="AudtColCp" value="ENB033#*#A0185#*#A0187#*#A0380"/>
    <add key="AudtCols" value="1,2,3,4"/>
    <add key="AudtColWidths" value="150px,150px,140px,90px"/>
    <add key="ExistColCp" value="ENB033#*#A0185#*#A0187#*#A0380"/>
    <add key="ExistCols" value="1,2,3,4"/>
    <add key="ExistColWidths" value="150px,150px,140px,90px"/>
  </appSettings>
 
</configuration>