<?xml version="1.0"?>
<configuration>
  <appSettings >
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"></add>
    <add key="CRApColCp" value="ENB003#*#A0185#*#A0187"></add>
    <add key="CRApCols" value="1,2,3"></add>
    <add key="CRApColWidths" value="150px,150px,100px"></add>
    <add key="CRRiColCp" value="ENB003#*#A0608#*#A0609#*#A0607"></add>
    <add key="CRRiCols" value="1,2,3,4"></add>
    <add key="CRRiColWidths" value="150px,150px,140px,150px"></add>
    <add key="ActColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="ActCols" value="1,2,3,4"></add>
    <add key="ActColWidths" value="120px,150px,140px,90px"></add>
    <add key="InActColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="InActCols" value="1,2,3,4"></add>
    <add key="InActColWidths" value="120px,150px,140px,90px"></add>
    <add key="MOApColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="MOApCols" value="1,2,3,4"></add>
    <add key="MOApColWidths" value="150px,150px,150px,100px"></add>
    <add key="MORiColCp" value="ENB003#*#A0608#*#A0609#*#A0607"></add>
    <add key="MORiCols" value="1,2,3,4"></add>
    <add key="MORiColWidths" value="150px,150px,150px,150px"></add>
    <add key="ScApColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="ScApCols" value="1,2,3,4"></add>
    <add key="ScApColWidths" value="150px,150px,140px,90px"></add>
    <add key="AudtColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="AudtCols" value="1,2,3,4"></add>
    <add key="AudtColWidths" value="150px,150px,140px,90px"></add>
    <add key="ExistColCp" value="ENB003#*#A0185#*#A0187#*#A0380"></add>
    <add key="ExistCols" value="1,2,3,4"></add>
    <add key="ExistColWidths" value="150px,150px,140px,90px"></add>


	  <add key="TemplateCommands" value="Source#*#Cut#*#Copy#*#Paste#*#PasteText#*#PageNumber#*#PasteWord#*#Undo#*#Redo#Find#*#Replace#*#SelectAll#*#Print#*#Preview#*#Image#*#Table#*#Bold#*#Italic#*#Underline#*#JustifyLeft#*#JustifyCenter#*#JustifyRight#*#JustifyFull#*#IssueTypeFields#*#IssueUniqueCodeFields#*#WorkFlowFields#*#ActionplanFields#*#CreateData#*#FontName#*#FontSize#*#TextColor#*#BGColor"></add>
    <add key="TemplateCommands1" value="Source#*#Cut#*#Copy#*#Paste#*#PasteText#*#PageNumber#*#PasteWord#*#Undo#*#Redo#Find#*#Replace#*#SelectAll#*#Print#*#Preview#*#Image#*#Table#*#Bold#*#Italic#*#Underline#*#JustifyLeft#*#JustifyCenter#*#JustifyRight#*#JustifyFull#*#IssueTypeFields#*#PlanFields#*#ActionplanFields#*##*#WorkFlowFields#*#CreateData#*#FontName#*#FontSize#*#TextColor#*#BGColor"></add>
    <add key="TemplateCommands2" value="Source#*#Cut#*#Copy#*#Paste#*#PasteText#*#PageNumber#*#PasteWord#*#Undo#*#Redo#Find#*#Replace#*#SelectAll#*#Print#*#Preview#*#Image#*#Table#*#Bold#*#Italic#*#Underline#*#JustifyLeft#*#JustifyCenter#*#JustifyRight#*#JustifyFull#*#PlanFields#*#ActionplanFields#*#CreateData#*#FontName#*#FontSize#*#TextColor#*#BGColor"></add>

    <add key="TplColNames" value="ENB003#*#A0185#*#A0187"></add>
    <add key="TplColCols" value="1,2,3"></add>
    <add key="TplColWidths" value="150px,150px,140px"></add>

  
  </appSettings>
 
</configuration>
