<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
      <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
      <add key="SMTPIP" value="10.10.1.35"></add>
       
          <add key="CRApColCp" value="A0535#*#A0185#*#A0582 "></add>
          <add key="CRApCols" value="0,2,3"></add>
          <add key="CRApColWidths" value="150px,150px,100px"></add>

          <add key="CRRiColCp" value="A0535#*# A0608#*#A0609#*#A0607"></add>
          <add key="CRRiCols" value="0,2,3,4"></add>
          <add key="CRRiColWidths" value="150px,150px,150px,250px"></add>

          <add key="ActColCp" value="A0185#*#A0582#*#A0586"></add>
          <add key="ActCols" value="1,2,3"></add>
          <add key="ActColWidths" value="150px,150px,150px"></add>

          <add key="InActColCp" value="A0535#*#A0185#*#A0582"></add>
          <add key="InActCols" value="0,2,3"></add>
          <add key="InActColWidths" value="150px,150px,150px"></add>


          <add key="MOApColCp" value="A0185#*#A0582#*#A0586"></add>
          <add key="MOApCols" value="1,2,3"></add>
          <add key="MOApColWidths" value="150px,150px,150px"></add>

          <add key="MORiColCp" value="A0535#*#A0608#*#A0609#*#A0607"></add>
          <add key="MORiCols" value="0,2,3,4"></add>
          <add key="MORiColWidths" value="150px,150px,150px,250px"></add>

          <add key="ScApColCp" value="A0535#*#A0185#*#A0582"></add>
          <add key="ScApCols" value="0,2,3"></add>
          <add key="ScApColWidths" value="150px,150px,150px"></add>

          <add key="AudtColCp" value="A0185#*#A0582#*#A0586"></add>
          <add key="AudtCols" value="1,2,3"></add>
          <add key="AudtColWidths" value="150px,150px,150px"></add>

          <add key="ExistColCp" value="A0185#*#A0582#*#A0586"></add>
          <add key="ExistCols" value="1,2,3"></add>
          <add key="ExistColWidths" value="150px,150px,150px"></add>

       <add key="MaxSelColumnVal" value="9"></add>

       <add key="ExtraCol" value="LMS_BAL_ISU_LOG_IS_CLS#*#LMS_BAL_ISU_TARGET_DATE#*#LMS_BAL_EXTND_TRG_DATE"></add>  <!--#*#LMS_BAL_ISU_LOG_INIT_BY#*#LMS_BAL_ISU_LOG_INIT_ON#*#LMS_BAL_ISU_CLS_INIT_BY#*#LMS_BAL_ISU_CLS_INIT_ON-->
       <add key="ExtraColTab" value="LMS_BAL_ISU_LOG_AUL#*#LMS_BAL_ISU_LOG_AUL#*#LMS_BAL_ISU_ETD_MAST"></add>  <!--#*#LMS_BAL_ISU_LOG_MAST#*#LMS_BAL_ISU_LOG_MAST#*#LMS_BAL_ISU_CLS_MAST#*#LMS_BAL_ISU_CLS_MAST-->
       <add key="ExtraColCaption" value="Status#*#Target Date#*#Revised Target Date"></add>  <!--#*#Initiated By#*#Initiated On#*#Closed By#*#Closed On-->
       <add key="ExtraColDataTypeID" value="2#*#8#*#8"></add>  <!--6#*#8#*#6#*#8#*#-->
       <add key="ExtraColDataType" value="int#*#Datetime#*#DateTime"></add>  <!--#*#nvarchar(4000)#*#Datetime#*#nvarchar(4000)#*#Datetime-->

       <add key="WorkAllCap" value="ISSU054#*#QMS003#*#AM0383#*#AM0750"></add>  
        <add key="WorkAllDataTypeCap" value="2#*#2#*#8#*#8"></add>  <!--#*#0#*#8-->
       <add key="WorkAllColu" value="LMS_BAL_FISS_WRK_TYPE#*#LMS_BAL_USER_GRP_ID#*#LMS_ENB_FISS_START_DATE#*#LMS_ENB_FISS_TGT_DATE"></add>  <!--LMS_ENB_FISS_UCODE#*#LMS_ENB_FISS_DESC#*##*#LMS_ENB_FISS_INIT_BY#*#LMS_ENB_FISS_INIT_ON#*#LMS_ENB_HFT_ID-->
       <add key="WorkAllCrlType" value="int#*#int#*#DateTime#*#DateTime"></add> <!--#*#nvarchar(250)#*#samlldatetime-->


       <add key="ActionPLanCap" value="ActonplanTypeName#*#ActionplanDesc"></add>
       <add key="ActionPLanDbTypes" value="2#*#2"></add>
       <add key="ActionPLanCtrlTypes" value="int#*#String"></add>
       <add key="ActionPlanColName" value="LMS_BAL_ACTION_TYPE#*#LMS_BAL_ACTION_DESC"></add>

       <add key="AloowedDataTypes" value ="2,4,17"/>
       
       
       <add key="ActionPLanColName" value="LMS_BAL_ACTION_TYPE#*#LMS_BAL_ACTION_UCODE#*#LMS_BAL_ACTION_DESC#*#LMS_BAL_ISU_CAT_ID#*#LMS_BAL_IINIT_BY#*#LMS_BAL_ACTION_TARGET_DATE#*#LMS_BAL_REVIEW_DATE#*#LMS_BAL_REV_REMARKS#*#LMS_ACT_PLAN_REV_BY#*#LMS_BAL_REVIEW_DATE#*#LMS_BAL_ACT_PLAN_CLOSED_BY#*#LMS_BAL_ACTION_SUMMARY#*#LMS_BAL_EFT_REMARS#*#LMS_ACT_CHILD_PLAN_ID_LIST#*#LMS_ACT_PLAN_EFT_REQ#*#LMS_ACT_PLAN_FRS_CLS#*#LMS_BAL_CAPA_ACT_ID"></add>
       <add key="ActionPLanTabName" value="#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_IST_MAST#*##*##*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*##*##*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#LMS_BAL_ISU_CAPA_ACTION#*#"></add>
       
       <add key="ActionPLanReportColCnt" value="1#*#2#*#3#*#4#*#5#*#6#*#7#*#8#*#9#*#10#*#11#*#12#*#13#*#14#*#15#*#16#*#17"></add>
       <add key="ActionPLanDataTyp" value="111#*#112#*#113#*#114#*#115#*#8#*#8#*#118#*#119#*#8#*#121#*#122#*#123#*#124#*#125#*#126#*#127"></add>


       <add key ="IsuLogStdFilters" value="Issue Category#*#Issues Initiated by My Initiation Group#*#Issue Initiated by My Department#*#Issues Initiated by Me#*#Issue  Initiated#*#Issue  Closed>   between#*#Issue  Target"/>
       <add key ="IsuLogStdColNames" value="LMS_BAL_IST_MAST.LMS_BAL_ISU_CAT_ID=@IsuCategory#*#dbo.Fun_SUM_CCHECKMYUSERGRP(LMS_BAL_IST_MAST.LMS_BAL_LOG_INIT_GRP,@UserID)=1#*#dbo.Fun_SUM_CHECKMYDEPT(LMS_BAL_ISU_LOG_AUL.LMS_BAL_DEPT_REG_ID,@UserID)=1#*#LMS_BAL_ISU_LOG_MAST.LMS_BAL_ISU_LOG_INIT_BY=@UserID#*#dbo.FUN_SUM_DATECHECK(LMS_BAL_ISU_LOG_MAST.LMS_BAL_ISU_LOG_INIT_ON,@LogInitFromDate,@LogInitToDate)=1#*#dbo.FUN_SUM_DATECHECK(LMS_BASL_ISU_FILNAL_CLS_DATE,@ClsFromDate,@ClsToDate)=1#*#dbo.FUN_SUM_DATECHECK(LMS_BAL_ISU_TARGET_DATE,@ISUTargatFromDate,@IsuTargetToDate)=1"/>

                     
      <add key ="IsuLogStdGroupBYs" value="Issue Category"/>  <!--#*#Year#*#Month#*#Week#*#day-->
       <add key ="IsuLogStdGroupBYCol" value="LMS_BAL_IST_MAST.LMS_BAL_ISU_CAT_ID"/> 





       <add key="DatatypeList" value="2,4,17"/>
       
     </appSettings>
  
</configuration>
