<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
		<add key="SMTPIP" value="10.10.1.35"></add>
		<add key="CRApColCp" value="A0185 #*# A0582"></add>
		<add key="CRApCols" value="2,3"></add>
		<add key="CRApColWidths" value="150px,100px"></add>
		<add key="CRRiColCp" value="A0608 #*# A0609 #*# A0607"></add>
		<add key="CRRiCols" value="2,3,4"></add>
		<add key="CRRiColWidths" value="150px,150px,250px"></add>
		<add key="ActColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="ActCols" value="2,3,4"></add>
		<add key="ActColWidths" value="150px,150px,150px"></add>
		<add key="InActColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="InActCols" value="2,3,4"></add>
		<add key="InActColWidths" value="150px,150px,150px"></add>
		
		<add key="MOApColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="MOApCols" value="2,3,4"></add>
		<add key="MOApColWidths" value="150px,150px,150px"></add>
		
		<add key="MORiColCp" value="A0608 #*# A0609 #*# A0607"></add>
		<add key="MORiCols" value="2,3,4"></add>
		<add key="MORiColWidths" value="150px,150px,250px"></add>
		
		<add key="ScApColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="ScApCols" value="2,3,4"></add>
		<add key="ScApColWidths" value="150px,150px,150px"></add>
		
		<add key="AudtColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="AudtCols" value="2,3,4"></add>
		<add key="AudtColWidths" value="150px,150px,150px"></add>
		
		<add key="ExistColCp" value="A0185 #*# A0582#*#A0380"></add>
		<add key="ExistCols" value="2,3,4"></add>
		<add key="ExistColWidths" value="150px,150px,150px"></add>

		<add key="WorkAllCap" value="ISSU053#*#ENB105#*#ISSU054#*#ENB014#*#QMS068#*#QMS003#*#AM0383#*#AM0750#*#A0456"></add>
		<add key="WorkAllCols" value="3,4,11,8,27,5,6,7,9"></add>
		<add key="WorkAllWidths" value="60,150,150,150,150,150,150,150,150"></add>

		<add key="ActionPlanCaption" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#QMS107#*#A0456"></add>
		<add key="ActionPlanCaption2" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"></add>
		<add key="ActionPlanCaption1" value="QMS042#*#QMS062#*#QMS063#*#QMS064#*#AM0750#*#A0185#*#A0582#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#A0456"></add>
		<add key="ActionPlanCaption3" value="QMS062#*#QMS042#*#QMS125#*#QMS064#*#AM0750#*#QMS102#*#QMS103#*#A0456"></add>
		<add key="ActionPlanCaption4" value="QMS042#*#QMS062#*#QMS174#*#QMS064#*#AM0750#*#A0185#*#SPR0014#*#QMS107#*#QMS049#*#QMS050#*#AM0686#*#QAMS239#*#QAMS240#*#Remarks#*#QAMS243#*#QAMS244#*#A0456"></add>
		
		
		<add key="ScheduleFreq" value="2"></add>
		<add key="PlanDuration" value="1"></add>
		<add key="NumOfYears" value="2"></add>

	</appSettings>
	</configuration>
