<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"></add>
    <add key="CRApColCp" value="A0125#*#A0185#*#A0187"></add>
    <add key="CRApCols" value="1,2,3"></add>
    <add key="CRApColWidths" value="150px,150px,150px,100px"></add>
    <add key="CRRiColCp" value="A0125#*#A0608#*#A0609#*#A0607"></add>
    <add key="CRRiCols" value="1,2,3,4"></add>
    <add key="CRRiColWidths" value="150px,150px,140px,150px"></add>
    <add key="ActColCp" value="A0125#*#A0185 #*# A0187 #*# A0380"></add>
    <add key="ActCols" value="1,2,3,4"></add>
    <add key="ActColWidths" value="150px,150px,140px,90px"></add>
    <add key="InActColCp" value="A0125#*#A0185#*#A0187#*#A0380"></add>
    <add key="InActCols" value="1,2,3,4"></add>
    <add key="InActColWidths" value="150px,150px,140px,90px"></add>
    <add key="MOApColCp" value="A0125#*#A0185#*#A0187#*#A0380"></add>
    <add key="MOApCols" value="1,2,3,4"></add>
    <add key="MOApColWidths" value="150px,150px,150px,100px"></add>
    <add key="MORiColCp" value="A0125#*#A0608#*#A0609#*#A0607"></add>
    <add key="MORiCols" value="1,2,3,4"></add>
    <add key="MORiColWidths" value="150px,150px,150px,150px"></add>
    <add key="ScApColCp" value="A0125#*#A0185#*#A0187#*#A0380"></add>
    <add key="ScApCols" value="1,2,3,4"></add>
    <add key="ScApColWidths" value="150px,150px,140px,90px"></add>
    <add key="AudtColCp" value="A0125#*#A0185#*#A0187#*#A0380"></add>
    <add key="AudtCols" value="1,2,3,4"></add>
    <add key="AudtColWidths" value="150px,150px,140px,90px"></add>
    <add key="ExistColCp" value="A0125#*#A0185#*#A0187#*#A0380"></add>
    <add key="ExistCols" value="1,2,3,4"></add>
    <add key="ExistColWidths" value="150px,150px,140px,90px"></add>

    <add key="WekIssFields" value="ENB032#*#ENB105#*#ISSU054#*#ISSU055#*#QMS003#*#A0317#*#A0186#*#AM0750#*#QMS012#*#AM0585#*#A0198"/>
    <add key="WekIssFieldIds" value="1,2,3,4,5,6,7,8,9,10,11"/>

    <add key="PlanFields" value="Issue Code#*#Plan Code#*#Plan Description/ Title#*#Plan Reviewed and Closed By#*#Plan Closed On#*#Plan Closure Comments#*#Plan Type#*# Plan Initiated By#*#Plan Initiated On#*#Incharge Group#*#Target Date#*#Effectiveness Required"/> <!--Plan Effectiveness#*#-->
    <add key="PlanFieldIds" value="13,1,2,3,4,6,7,8,9,10,11,12"/> <!--5,-->

    <add key="AditionalIsuFields" value="Issue Code#*#Issue Type"/>
    <add key="AditionalIsuFldIds" value="0,1,2,3,4,5,6,7"/>
    <add key="AditionalIsuFldVal" value="IsuId#*#IsuType"/>

    <add key="AditionalIsuFields1" value="Issue Code"/>
    <add key="AditionalIsuFldIds1" value="0,1"/>
    <add key="AditionalIsuFldVal1" value="IsuID,PlanTargetDate"/>

     <add key="WorkAllocationFlds" value="Issue Code,Work Item Code,Work Type,Work Description,StartDate,TargetDate,Work Initiated By"/>
    <add key="AuditFlds" value="Dept,AreasOfInspection,AuditPlanningCode"/>
     <add key="CAPAFields" value="Issue Code,Plan Target Date"/>

    <add key="RPTFields" value="Report Id"/>
    <add key="EscRPTFields" value="Report Id"/>
  </appSettings>
 
</configuration>
