<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
    <add key="SMTPIP" value="10.10.1.35"></add>
   
    <add key="CRApColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="CRApCols" value="1,2,3,4"></add>
    <add key="CRApColWidths" value="150px,150px,150px,150px"></add>
    <add key="CRRiColCp" value="QMS128#*#A0608 #*# A0609 #*# A0607"></add>
    <add key="CRRiCols" value="1,2,3,4"></add>
    <add key="CRRiColWidths" value="150px,150px,150px,250px"></add>
    <add key="ActColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="ActCols" value="1,2,3,4"></add>
    <add key="ActColWidths" value="250px,150px,150px,150px"></add>
    <add key="InActColCp" value="QMS128#*#A0185 #*# A0582"></add>
    <add key="InActCols" value="1,2,3"></add>
    <add key="InActColWidths" value="250px,150px,150px"></add>
    <add key="MOApColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="MOApCols" value="1,2,3,4"></add>
    <add key="MOApColWidths" value="150px,150px,150px,150px"></add>
    <add key="MORiColCp" value="QMS128#*#A0608 #*# A0609 #*# A0607#*#A0586"></add>
    <add key="MORiCols" value="1,2,3,4,5"></add>
    <add key="MORiColWidths" value="150px,150px,150px,200px,150px"></add>
    <add key="ScApColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="ScApCols" value="1,2,3,4"></add>
    <add key="ScApColWidths" value="200px,150px,150px,150px"></add>
    <add key="AudtColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="AudtCols" value="1,2,3,4"></add>
    <add key="AudtColWidths" value="150px,150px,150px,150px"></add>
    <add key="ExistColCp" value="QMS128#*#A0185 #*# A0582#*#A0586"></add>
    <add key="ExistCols" value="1,2,3,4"></add>
    <add key="ExistColWidths" value="250px,150px,150px,150px"></add>


    <!--Popup related objrcts ad data-->
    <add key="objects1" value="Product / Material#*#Equipment"></add>
    <add key="ObjID1" value="1,2"/>
    <add key="ListStp1" value="STP_LMS_BAL_PRD_POPUP_LIST#*#STP_LMS_ISU_INS_RD"></add>
    <add key="RDStp1" value="STP_LMS_BAL_PRD_RD#*#STP_LMS_INS_INS_RD"></add>
    <add key="searchCapFlag1" value="2,1"/>
    <add key="searchCapvalue1" value="A0319#*#A0324,Equipment ID#*#Equipment"/>

    <add key="SaveColumn1" value="0,3#*#0,2"/>
    <add key="MapColumn1" value="2,3#*#1,2"/>
    <add key="CtrlprmName1" value="SearchType$@$SearchType"/>
    <add key="CtrlprmDbType1" value="integer$@$integer"/>
    <add key="CtrlSaveColFlg1" value="2,2"/>
    <add key="RDparm1" value="BaseId#*#BaseId"/>
    <add key="RDparmDBTYpe1" value="Integer#*#Integer"/>
    <add key="RDCOlNum1" value="4,4"/>
    <add key="CoeDisPlayVal1" value="2,1"/>


    <!--Drop Down related objrets  data-->

    <!--<add key="objects2" value="Department#*#Deviation In#*#Event Related To#*#Organization Type"></add>
    <add key="ObjID2" value="1,2,3,4"/>
    <add key ="ListStp2" value="STP_LMS_CCT_REG_DEPT_RD#*#STP_LMS_DCT_REG_DEVIN_RD#*#STP_LMS_BAL_ISU_EVT_TYPE_LST#*#STP_LMS_BAL_ORG_TYPE_RD1"></add>
    <add key ="RDStp2" value="STP_LMS_BAL_ISU_DEPT#*#STP_LMS_BAL_ISU_DEV#*#STP_LMS_BAL_ISU_EVT_RD#*#STP_LMS_BAL_ORG_TYPE_READ"></add>
    <add key="searchCapFlag2" value="0,0,0,0"/>
    <add key="searchCapvalue2" value="- -,- -,- -,- -"/> here - - have to change
    <add key="SaveColumn2" value="- -#*#- -#*#- -#*#- -"/>
    <add key="MapColumn2" value="2,0#*#2,0#*#1,1#*#1,1"/>
    <add key="CtrlprmName2" value="LoinUserID#*#Prefix#*#Type$@$- -$@$- -$@$- -"/>
    <add key="CtrlprmDbType2" value="integer#*#String#*#integer$@$- -$@$- -$@$- -"/>
    <add key="CtrlSaveColFlg2" value="0,0,0,0"/>
    <add key="RDparm2" value="DeptID#*#DevInId#*#EventType#*#OrgType"/>
    <add key="RDparmDBTYpe2" value="Integer#*#Integer#*#Integer#*#String"/>
    <add key="RDCOlNum2" value="1,1,1,1"/>
    <add key="CoeDisPlayVal2" value="0,0,0,0"/>-->

    <add key="objects2" value="Department"></add>
    <add key="ObjID2" value="1"/>
    <add key="ListStp2" value="STP_LMS_CCT_REG_DEPT_RD"></add>
    <add key="RDStp2" value="STP_LMS_BAL_ISU_DEPT"></add>
    <add key="searchCapFlag2" value="0"/>
    <add key="searchCapvalue2" value="--"/>
    <add key="SaveColumn2" value="--"/>
    <add key="MapColumn2" value="2,0"/>
    <add key="CtrlprmName2" value="LoinUserID#*#Prefix#*#Type"/>
    <add key="CtrlprmDbType2" value="integer#*#String#*#integer"/>
    <add key="CtrlSaveColFlg2" value="0"/>
    <add key="RDparm2" value="DeptID"/>
    <add key="RDparmDBTYpe2" value="Integer"/>
    <add key="RDCOlNum2" value="1"/>
    <add key="CoeDisPlayVal2" value="0"/>


    <!--Check Box Related Objects DATA-->

    <add key="objects3" value="Batch Details#*#Invert Lot Details#*#Issue Reference"></add>
    <add key="ObjID3" value="1,2,3"/>
    <add key="ListStp3" value="STP_LMS_BATCH_DETAILS#*#STP_LMS_BATCH_DETAILS#*#STP_LMS_BAL_ISU_LOG_REF_LIST"></add>
    <add key="RDStp3" value="STP_LMS_BATCH_DETAILS_RD#*#STP_LMS_BATCH_DETAILS_RD#*#STP_LMS_REF_ISU_RD"></add>

    <add key="searchCapFlag3" value="1,1,1"/>
    <add key="searchCapvalue3" value="Batch ID#*#Batch Text,Invert Lot No#*#Invert Lot,Issue Code#*#Issue Category"/>

    <add key="SaveColumn3" value="0,3#*#0,2#*#0,2"/>
    <add key="MapColumn3" value="2,3#*#1,2#*#2,6"/>
    <add key="CtrlprmName3" value="SearchType$@$SearchType$@$SearchType"/>
    <add key="CtrlprmDbType3" value="integer$@$integer$@$integer"/>

    <add key="CtrlSaveColFlg3" value="2,2,2"/>
    <add key="RDparm3" value="BaseId#*#BaseId#*#IsuRefList"/>
    <add key="RDparmDBTYpe3" value="Integer#*#Integer#*#String"/>
    <add key="RDCOlNum3" value="4,4,0"/>
    <add key="CoeDisPlayVal3" value="0,0,0"/>

    <!--MultiObjRefCheckList-->

    <add key="ObjectType" value="Batch Details#*#Product/ Material#*#Equipment#*#Issue Reference#*#DMS Creation Request#*#DMS Modification Request"></add>
    <add key="ObjectTypeID" value="6,7,8,9,16,17"></add>

    <!--DATA Sheet  related objrets  data-->


    <!--Proposal-->

    <add key="Captions1" value="S. No#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Reason(s) / Justification"></add>
    <add key="CaptionWidth1" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,1.5,1.5"></add>
    <add key="CaptionColumn1" value="0,0,0,0,0,0,0,0,0,0,0"></add>
    <!--<add key="CaptionsSeqStr1" value ="0,4,5,7,9,10,11,12,13"></add>-->
    <add key="CaptionsSeqStr1" value="0,1,2,3,4,5,10,10,10,6"></add>

    <!--Acceptance-->
    <!--<add key="Captions2" value="S. No#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Decision#*#Decided By#*#Decided On#*#Decided By/On#*#Acceptance Remarks / Reasons"></add>
    <add key="CaptionWidth2" value="0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn2" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr2" value ="0,4,5,7,9,10,11,12,13,14,15,16,17,18"></add>-->

    <add key="Captions2" value="S. No#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Decision#*#Decided By#*#Decided On#*#Decided By/On#*#Acceptance Remarks / Reasons"></add>
    <add key="CaptionWidth2" value="0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn2" value="0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr2" value="0,4,5,7,9,10,14,15,16,17,18"></add>

    <!--Recommendation-->
    <add key="Captions3" value="S. No#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Decision#*#Decided By#*#Decided On#*#Decided By/On#*#Acceptance Remarks / Reasons#*#Recommended Decision#*#Recommended By#*#Recommended On#*#Recommended By/On#*#Recommendation Remarks / Reasons"></add>
    <add key="CaptionWidth3" value="0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn3" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr3" value="0,4,5,7,9,10,11,12,13,14,15,16,17,18,21,23,24,25,22"></add>

    <!--Implementation-->
    <add key="Captions4" value="S. No#*#Plan Code#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Decision#*#Decided By#*#Decided On#*#Decided By/On#*#Acceptance Remarks / Reasons#*#Recommended Decision#*#Recommended By#*#Recommended On#*#Recommended By/On#*#Recommendation Remarks / Reasons#*#Revised Target Date#*#Revised Remarks / Reasons#*#Closed By#*#Closed On#*#Closed By/On#*#Closure Remarks"></add>
    <add key="CaptionWidth4" value="0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2"></add>
    <add key="CaptionColumn4" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr4" value="0,27,4,5,7,9,10,11,12,13,14,15,16,17,18,21,23,24,25,22,32,36,28,29,30,31"></add>

    <!--Task-->
    <add key="Captions5" value="S. No#*#Plan Code#*#Plan Type#*#Plan Description#*#In-charge Department#*#In-charge User Group#*#Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Decision#*#Decided By#*#Decided On#*#Decided By/On#*#Acceptance Remarks / Reasons#*#Recommended By#*#Recommended On#*#Recommended By/On#*#Recommendation Remarks / Reasons#*#Revised Target Date#*#Revised Remarks / Reasons#*#Closed By#*#Closed On#*#Closed By/On#*#Closure Remarks#*#Work Item Id#*#Work Description#*#In-charge User Group#*#Start Date#*#Target Date#*#Work Initiated By#*#Work Initiated On#*#Work Initiated By/On#*#Work Executed By#*#Work Executed On#*#Work Executed By/On"></add>
    <!--//Worked Approved By#*#Worked Approved On#*#Worked Approved By/On#*#Worked Approved Remarks / Reasons-->
    <add key="CaptionWidth5" value="0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2"></add>
    <add key="CaptionColumn5" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr5" value="0,0,1,3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37"></add>


    <!--Batch Details-->
    <add key="Captions6" value="S. No#*#Batch Type#*#Product/ Material#*#Batch/Lot ID#*#Batch/Lot Size#*#Mfg.Date#*#Exp.Date#*#A.R.No"></add>
    <add key="CaptionWidth6" value="0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn6" value="0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr6" value="0,3,4,2,10,7,8,6"></add>


    <!--Product/ Material-->
    <add key="Captions7" value="S. No#*#Product Code#*#Product Name#*#Generic Name#*#Re- testing Period"></add>
    <add key="CaptionWidth7" value="0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn7" value="0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr7" value="0,2,3,4,5"></add>

    <!--Equipment-->
    <add key="Captions8" value="S. No#*#Category#*#Equipment Type#*#Equipment#*#Equipment ID"></add>
    <add key="CaptionWidth8" value="0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn8" value="0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr8" value="0,5,7,3,2"></add>

    <!--Issue Ref-->
    <add key="Captions9" value="S. No#*#Issue Code#*#Issue Category#*#Department#*#Initiated  By#*#Initiated On"></add>
    <add key="CaptionWidth9" value="0.5,0.5,0.5,0.5,0.5,0.5"></add>
    <add key="CaptionColumn9" value="0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr9" value="0,2,7,9,5,6"></add>


    <!--Extension Of Target Date-->
    <add key="Captions10" value="S. No#*#Area#*#Unique Code#*#Description#*#In-charge#*#Present Target Date#*#Proposed Extension(days)#*#Extended Target Date#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Remark(s) / Reason(s)#*#Status#*#Event Details"></add>
    <add key="CaptionWidth10" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5"></add>
    <add key="CaptionColumn10" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,"></add>
    <add key="CaptionsSeqStr10" value="0,1,2,3,4,5,6,7,9,10,11,8,12,13"></add>

    <!--Modification Request-->
    <add key="Captions11" value="S. No#*#Unique Code#*#Description#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Status#*#Event Details"></add>
    <add key="CaptionWidth11" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,3"></add>
    <add key="CaptionColumn11" value="0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr11" value="0,1,2,3,4,5,6,7"></add>


    <!--Batch Status  Recommendation-->
    <add key="Captions12" value="S. No#*#Issue Code#*#Batch / Lot No.#*#Initial / Other#*#Product / Material Name (Code)#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Reviwer Recommended Status#*#Reviwed By#*#Reviwed On#*#Reviwed By/On#*#Reviwer Remark(s)/Reason(s)#*#Approver-Decision#*#Approved By#*#Approved ON#*#Approved By/ON#*#Approver Remark(s)/Reason(s)"></add>
    <add key="CaptionWidth12" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5"></add>
    <add key="CaptionColumn12" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr12" value="0,7,4,23,8,24,25,26,12,27,28,29,13,15,30,31,32,17"></add>



    <!--Batch Status  selection & Recomm-->
    <add key="Captions13" value="S. No#*#Issue Code#*#Batch / Lot No.#*#Initial / Other#*#Product / Material Name (Code)#*#Initiated By#*#Initiated On#*#Initiated By/On"></add>
    <add key="CaptionWidth13" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5"></add>
    <add key="CaptionColumn13" value="0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr13" value="0,7,4,23,8,24,25,26"></add>


    <!--Batch Status  Authorization1-->
    <add key="Captions14" value="S. No#*#Issue Code#*#Batch / Lot No.#*#Initial / Other#*#Product / Material Name (Code)#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Reviwer Recommended Status#*#Reviwed By#*#Reviwed On#*#Reviwed By/On#*#Reviwer Remark(s)/Reason(s)#*#Approver-Decision#*#Approved By#*#Approved ON#*#Approved By/ON#*#Approver Remark(s)/Reason(s)"></add>
    <add key="CaptionWidth14" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5"></add>
    <add key="CaptionWidth14" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr14" value="0,7,4,23,8,24,25,26,12,27,28,29,13,15,30,31,32,17"></add>

    <!--Batch Status  Authorization2-->
    <add key="Captions15" value="S. No#*#Issue Code#*#Batch / Lot No.#*#Initial / Other#*#Product / Material Name (Code)#*#Initiated By#*#Initiated On#*#Initiated By/On#*#Reviwer Recommended Status#*#Reviwed By#*#Reviwed On#*#Reviwed By/On#*#Reviwer Remark(s)/Reason(s)#*#Approver-Decision#*#Approved By#*#Approved ON#*#Approved By/ON#*#Approver Remark(s)/Reason(s)#*#Final Approver-Decision #*#Final Approvrd BY#*#Final Approved ON#*#Final Approved BY/ON#*#Final Approver Remark(s)/Reason(s)"></add>
    <add key="CaptionWidth15" value="0.6,1.5,1.5,0.8,1.8,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5"></add>
    <add key="CaptionWidth15" value="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr15" value="0,7,4,23,8,24,25,26,12,27,28,29,13,15,30,31,32,17,20,33,34,35,21"></add>

    <!--DMS Creation Request-->
    <add key="Captions16" value="S. No#*#Document UCode#*#Document Title#*#Document Repository#*#Location#*#View"></add>
    <add key="CaptionWidth16" value="0.6,1.8,1.8,1.8,1.8"></add>
    <add key="CaptionWidth16" value="0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr16" value="0,1,2,3,4,5"></add>

    <!--DMS Modification Request-->
    <add key="Captions17" value="S. No#*#Document Unique Code#*#Document Title#*#Document Repository#*#Location#*#View"></add>
    <add key="CaptionWidth17" value="0.6,1.8,1.8,1.8,1.8"></add>
    <add key="CaptionWidth17" value="0,0,0,0,0,0"></add>
    <add key="CaptionsSeqStr17" value="0,1,2,3,4,5"></add>

  </appSettings>

</configuration>
