<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <appSettings>
      <add key="MyConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
      <add key="AdminConStr" value="Data Source=CaliberLIMS2;User Id=CaliberLIMS2;Password=CaliberLIMS2; pooling=false;"/>
      <add key="SMTPIP" value="10.10.1.35"></add>
    
       <add key="CRApColCp" value="Qulaification Category #*# Item #*#Initiated By  #*# Initiated On "></add>
       <add key="CRApCols" value="12,11,2,3"></add>
       <add key="CRApColWidths" value="150px,100px,100px,100px"></add>
    
       <add key="CRRiColCp" value="Qulaification Category #*# Item #*# Returned By #*# Returned On #*# Remarks / Reasons"></add>
       <add key="CRRiCols" value="10,11,2,3,4"></add>
       <add key="CRRiColWidths" value="125,150px,150px,125px,150px"></add>
       
       <add key="ActColCp" value="Qulaification Category #*# Item #*#Initiated By  #*# Initiated On "></add>
       <add key="ActCols" value="9,8,2,3"></add>
       <add key="ActColWidths" value="150px,150px,150px,150px"></add>
       
       <add key="InActColCp" value="Qulaification Category #*# Item #*#Initiated By  #*# Initiated On "></add>
       <add key="InActCols" value="9,8,2,3"></add>
       <add key="InActColWidths" value="150px,150px,150px,150px"></add>
      
       <add key="MOApColCp" value="Unique Code  #*#Initiated By  #*# Initiated On #*# Revision No."></add>
       <add key="MOApCols" value="0,2,3,4"></add>
       <add key="MOApColWidths" value="150px,150px,150px,150px"></add>
       
       <add key="MORiColCp" value="Unique Code #*# Returned By #*# Returned On #*# Remarks / Reasons"></add>
       <add key="MORiCols" value="0,2,3,4"></add>       
       <add key="MORiColWidths" value="150px,150px,150px,150px"></add>
    
       
       <add key="ScApColCp" value="Qulaification Category #*# Item #*#Initiated By  #*# Initiated On "></add>
       <add key="ScApCols" value="12,11,2,3"></add>
       <add key="ScApColWidths" value="150px,100px,100px,100px"></add>
       
       <add key="AudtColCp" value="Qulaification Category #*# Item #*# Initiated By  #*# Initiated On "></add>
       <add key="AudtCols" value="9,8,2,3"></add>
       <add key="AudtColWidths" value="150px,150px,150px,150px"></add>
       
       <add key="ExistColCp" value="Qulaification Category #*# Code #*#Initiated By  #*# Initiated On #*# Revision No."></add>
       <add key="ExistCols" value="9,8,2,3,4"></add>
       <add key="ExistColWidths" value="150px,150px,150px,150px,150px"></add>

       <add key="AdcockImag" value="userfiles/image/CompanyLogo.jpg"></add>
       <add key="AdcockCaption" value="userfiles/image/CompanyLogo.jpg"></add>

     </appSettings>
  
</configuration>
